[2015-12-15 22:24] jeffj opened #686 "Cannot install or resolve module 'react-relay' in the todo example."
So when I do npm install in the "/example/todo" directory I get the following exception.
[code]
Then I run:
[code]

This error is very understandable given my previous warning.  What am I missing?

[2015-12-16 00:27] zuhair-naqvi commented on #26
@mpretty-homepass check this out!

[2015-12-16 04:25] staugaard commented on #114
Is someone working on this right now? We need it badly.

Our use-case is VERY similar to @vladar's with focused comments.

[2015-12-16 04:53] josephsavona commented on #686
Are you using npm3? It doesn't install peer dependencies automatically, so I'd suggest manually installing the referenced packages `babel-relay-plugin` and `history`.

[2015-12-16 05:45] josephsavona commented on #114
@staugaard This is something we're continuing to explore and aren't ready to release anything just yet. However, in the meantime there is a very flexible alternative: use a [custom network layer](http://facebook.github.io/relay/docs/guides-network-layer.html#content). You can inject a custom network layer that runs a GraphQL schema in the browser and resolves queries using a combination of local a

[2015-12-16 07:41] filod commented on #26
@skevy

hi, as you suggest, i setup my own sinopia, and publish the package.

but now, i can not even start **an empty app**, i got this error:

[code]
any hint on this ?

[2015-12-16 10:03] angelf commented on #232
I also got hurt by fieldIDs vs fieldIds. Checking that a FIELDS_CHANGE config requires a fieldIDs would be nice.

[2015-12-16 13:06] shaimo commented on #540
I also would like to be able to jump to a specific page. @taion - you write above "I feel like the current pagination API offers enough to (with at most minor tweaks) satisfactorily implement page-based pagination". Can you please explain how to achieve this? Many thanks...

[2015-12-16 15:55] taion commented on #540
You just add a `page` arg or something to the field. Just don't bother with the cursor-related stuff.

[2015-12-16 15:58] dminkovsky commented on #540
to a GraphQLList-type field, right? And then just do whatever, right?

On Wed, Dec 16, 2015 at 10:56 AM, Jimmy Jia <notifications@github.com>
wrote:

[2015-12-16 16:30] taion commented on #540
Pretty much. You can make it a connection if you want connection-style behavior on mutations... depends what you want, really. But windowed pagination is in some sense easy - it's just a custom filter arg.

[2015-12-16 22:26] grydstedt commented on #537
@josephsavona Is there any undocumented way to do this currently (before this is done)? Primarily to throw away the entire store and all cached data?

[2015-12-16 22:47] netgusto commented on #309
Variables set via props are (silently) breaking the fetch indeed.

Is this supposed to work ?

If not, what's the proper way to fetch data using variables based on props owned by the parent ? I tried setting relay variables in the component constructor, but:

* I suspect this is an anti-pattern
* relay triggers a first fetch with initial values for variables before using the variables set in the c

[2015-12-16 23:08] mpretty-homepass commented on #26
@skevy Thank you so much, I managed to get your fork's working using Sinopia and the list @lenaten mentions here https://github.com/facebook/relay/issues/26#issuecomment-159192009

[2015-12-16 23:14] taion commented on #309
You're doing it wrong - follow the pattern above and inject the variables in via the container as well as via props.

[2015-12-16 23:23] kassens commented on #537
The `forceFetch` ([docs](https://facebook.github.io/relay/docs/guides-root-container.html#force-fetching)) property of RelayContainer can be used to load the full query of the component tree overwriting that's been fetched. This can often help work around this issue.

[2015-12-16 23:53] josephsavona commented on #537
I experimented with this in #485 and spun off some ideas into separate commits, but this ultimately didn't pan out. We'll continue exploring ideas around cache eviction. As @kassens noted, `forceFetch` can be used to forcibly refetch information when necessary.

[2015-12-16 23:53] #537 closed

[2015-12-16 23:59] grydstedt commented on #537
Unfortunately I can't use `forceFetch` in this case. I have to deal with a stale values in strange ways. I can create a separate ticket for it.

[2015-12-17 00:46] grydstedt opened #687 "Potential Race condition with forceFetch?"
(Apologies for length)
I'm not entirely sure if this is a bug, but I can't really work around it:

This is the schema:
[code]
When the user is logged out, `me` is false, when logged in it's a user object with said variables.

The page has two base components, both with separate RootContainers. One main "app" view and a Header view, both start of their route at `viewer`.

1 User comes onto site, la

[2015-12-17 03:23] ccorcos opened #688 "Relay Cache with Flux Pattern?"
I'd really like to incorporate the Relay cache within my Flux store so I can do "time-travel" and gain deep insight into the application. It looks like the store and the actions are classes which arent serializable :( but it looks like I ought to be able to separate the cache from the network requests and save the cache in a Flux store.  Does that sound interesting or am I barking up the wrong tre

[2015-12-17 04:11] #681 closed

[2015-12-17 08:07] shaimo commented on #540
@taion - that's indeed easy - my concern was that using some arbitrary page parameter rather than the cursor I would be losing the benefits of the connection type. If there are no such benefits, then not even sure why bother with connection in the first place rather than just some standard field...?

[2015-12-17 08:18] netgusto commented on #309
@taion but these prop'd variables are known only in the component context, and not statically in the `fragments` section of the relay container (for instance, a piece of state handled by a component).

Is there something I'm missing ? I mean, fragment variables live in a static context, and I can't see how I would be able to access component runtime data within that static context. Could you expla

[2015-12-17 08:36] lenaten commented on #26
@mpretty-homepass can you push your working project to the repo at https://github.com/lenaten/react-native-relay. It's could be useful to many people and save their time and efforts.

[2015-12-17 09:41] mpretty-homepass commented on #26
@lenaten no problem, I've just created a pull request, not exactly ideal as I'm quite new to npm & react so you could probably ditch a bunch of npm modules I committed to the repo (I tried removing them for the commit but running 'npm install' afterwards seemed to break the fixes).

[2015-12-17 10:28] mpretty-homepass commented on #26
Just FYI for anyone who was going to use my updated fork - it looks like it's not working on Android yet.

[2015-12-17 13:09] vladar commented on #309
@netgusto

You should define variable mapping when including nested fragment:

[code]

Then when your component is rendered with custom `myProp` Relay will assign it to nested container variable (`variable2` in this example). Note, that `myProp` must also be defined in `initialVariables` even if it's `null`.

[2015-12-17 14:17] taion commented on #540
Which specific benefits were you thinking about that would be relevant when doing windowed pagination?

[2015-12-17 16:33] shaimo commented on #540
Not sure. I'm really new to Relay and might not have enough understanding of all the concepts, but I read somewhere that Connection was created to work well with large datasets. But if not using the Connection mechanisms and instead just using some page number parameter, is there any reason to stick with a Connection rather than a standard field?

[2015-12-17 16:39] taion commented on #540
You get nice stuff like just inserting new edges after mutations. Otherwise there are great conveniences for infinite scroll type views. But if you're just doing windowed pagination, I don't think it matters much.

[2015-12-17 16:50] shaimo commented on #540
@taion Thanks for your help. I'll check if I can relax my requirements and maybe just use what Connection provides. Maybe indeed in large datasets it doesn't make much sense to allow the viewer to "jump" to a particular page anyway (especially if the dataset is not fixed, in which case next time you will get different results anyway)...

[2015-12-17 19:44] shahankit commented on #233
@bmcmahen Can you explain how to call reload method. I tried creating a native module importing `RCTBridgeModule.h` and tried calling [self.bridge reload] but gives me compilation error.

[2015-12-17 20:26] kassens opened #690 "Detect when a polyfill is missing"
Should we add some simple basic detection for missing polyfills so we can provide a helpful error message instead of some "method x is undefined" errors deep in the stack? (Example: #681)

Not full feature detection, but maybe something basic as:
[code]

[2015-12-17 21:17] nickhudkins commented on #233
hey @shahankit  Have a look here: https://gist.github.com/nickhudkins/16a268f0957bdde92b07

[2015-12-17 22:42] #687 closed

[2015-12-18 00:51] mailaneel opened #691 "fragments without params is always triggering update"
assumption: likes is the only mutable field

[code]

**Expected** : `Comments.render` is only called when likes count change for any comment
**Actual**:  `Comments.render` is called every time `CommentsFetcher` forceFetch i.e every second

[code]

**Expected** : `Comments.render` is only called when likes count change for any comment
**Actual**:   Works as expected

the only difference is `limit:1

[2015-12-18 01:33] ts-smith opened #692 "Relay concerned with seemingly unrelated data."
I have a query that is behaving very unexpectedly.

The query has a connection over a union, and a selection, both orthagonal.

[code]

when I change the variables to include the user section, relay does a node query for every node in the connection, trying to determine the type apparently (it only wants {id, __typename}).

If I throw errors in the type resolver of the union nodes, the connection

[2015-12-18 02:01] ts-smith commented on #692
After more research, if I create an unused variable and change it, the same behavior occurs.

[2015-12-18 02:12] josephsavona commented on #687
@grydstedt were you able to resolve this?

[2015-12-18 02:13] josephsavona commented on #690
This is a great idea. Ship it! ;-)

[2015-12-18 03:52] bmcmahen commented on #233
Yeah, what @nickhudkins has there is pretty much what I did.

[2015-12-18 04:29] mailaneel commented on #691
Also important to note ```===``` check fails even if there is no change in key => values

Ex:
[code]

[code]
I was thinking relay will return ```same object``` if there is no change in data. Please suggest if this is not true

**Full Example**

[code]

[2015-12-18 05:51] shahankit commented on #233
Ohk sorry I had just imported RCTBridgeModule and not RCTBridge. Thanks for reply.

[2015-12-18 07:27] nikhildaga commented on #686
@jeffj  Remove
 "babel-relay-plugin": "file:../../scripts/babel-relay-plugin/",

and
    "react-relay": "file:../../",

in package.json

and then
npm i -S react-relay babel-relay-plugin

[2015-12-18 09:16] grydstedt commented on #687
I was not, but the example was contrived, I was going to come up with a reproducible test case. But I think the issue remains. It boils down being able to forceFetch while a another query is excuting. I think

[2015-12-18 16:33] josephsavona commented on #686
This appears to be due to using npm 3. I'm going to close the issue (see suggestion above), but feel free to reopen or comment if that doesn't work.

[2015-12-18 16:33] #686 closed

[2015-12-18 21:26] dminkovsky commented on #688
Been interested in this [for a while](http://stackoverflow.com/questions/33512889/patterns-for-undo-redo-state-traversal-with-relay-graphql-mutations)! Would be great.

[2015-12-18 21:45] ccorcos commented on #688
Have you heard of Datomic or Datascript -- its pretty interesting. It makes the whole caching side of things trivial at the expense of more computation.

[2015-12-19 07:31] zuhair-naqvi commented on #676
@josephsavona @eyston

Let me know if the below makes sense:

We've got relay working with React Native, the next challenge is to offer an offline first experience. To do this one approach I've been thinking of is to bundle the schema with the app using https://github.com/relay-tools/relay-local-schema and back it up with https://github.com/facebook/dataloader persisting the cache to disk. The tra

[2015-12-19 17:54] josephsavona commented on #676
That sounds like a solid approach. Data loader will help to reduce the number of network requests, and the injected relay-local-schema is just a network later as far as Relay knows.

Let us know how this works for you!

[2015-12-19 21:17] josephsavona commented on #692
Thanks for asking about this. Could you clarify if this is a bug (data is missing in your app or it otherwise breaks) or if the queries are simply different than you expected? In other case, we'd be happy to help debug - what is the full query in your component, and what is the full query that is sent to the network?

[2015-12-19 21:27] josephsavona commented on #691
Does the `Comment` type implement the Node interface and/or have an `id` field?

Note that calling forceFetch will refetch a connection in full, causing the comments list component to rerender (new range). If the comments themselves don't have an ID, the actual comments will be new items and each comment component will re-render (though the data is shallow equal it's technically a new comment obje

[2015-12-19 21:30] josephsavona commented on #691
Forgot to mention - thanks for asking about this and providing so much detail!

[2015-12-19 22:49] mailaneel commented on #691
thanks @josephsavona

Yes comment implements node interface and has unique global id
I did implement connection interface though

[2015-12-20 22:39] mailaneel commented on #691
Will this behavior change when we add ```limit``` or any other params to query?
I can see there is a check [```areQueryResultsEqual```] (https://github.com/facebook/relay/blob/master/src/container/RelayContainer.js#L629) which should not trigger ```Comments.render``` if results are same

Just to confirm, forceFetch is done by ```CommentsFetcher``` not ```Comments```

[2015-12-21 03:23] josephsavona commented on #691
I just noticed that your render examples don't set a `key` prop when rendering the list of comments, which may be the cause of the extra re-render. What happens if you set a key (using the comment id)?

In general, Relay returns a `===` object when data has not changed. The main exception exceptions are when metadata has changed: a mutation that affected the data has resolved/failed, or deferred d

[2015-12-21 04:10] mailaneel commented on #691
My bad, I have key in my own code :) missed it here. Updated previous code(comment) with key.

I will add debug info soon

[2015-12-21 04:31] mailaneel commented on #691
Below are the props for ```races``` list(I do not have comments endpoint)

Before
[code]

forceFetch
[code]

Before
[code]

After forceFetch
[code]

[2015-12-21 12:23] quazzie commented on #309
How to do this for nested structure ?

https://stackoverflow.com/questions/34255662/props-in-relay-preparevariables

I want to set expanded for some of the tree.
I have saved the expanded state and when i navigate i save this in sessionStorage, when i return i want to restore the expanded state of all the branches and leafs.

[2015-12-21 13:16] faceyspacey commented on #541
+1

[2015-12-21 13:33] faceyspacey commented on #541
Once the API is down I would love to figure out how to put this to use in the Meteor world. We have a client/server pubsub API that uses their own custom Json format, DDP, to communicate LiveQuery updates to clients. There have been lots of scalability issues with LiveQuery and plans to move to a pre-write event-based approach to push changes to clients, which my assumption is what Relay subscript

[2015-12-21 16:45] josephsavona commented on #691
Thanks - that confirms that there isn't some metadata that is different before/after.  Are you passing other props to the components in question? Relay Container implements shouldComponentUpdate, but it can only safely compare scalar props for equivalence. In practice, the most common cause for unnecessary re-rendering of components are things like object props or functions that are re-bound on ev

[2015-12-21 16:57] josephsavona commented on #688
Thanks for your question! I do have an answer for you, but we're trying to keep GitHub issues focused on tracking bugs and enhancements to help keep the signal high for contributors.

Would you mind posting your question to [Stack Overflow](https://stackoverflow.com/questions/ask?tags=relayjs) with the `#relayjs` tag (or use that link)? If you post a link to your question here we'll be happy to an

[2015-12-21 17:05] josephsavona commented on #309
@quazzie Thanks for asking. I'm writing an answer to your question on Stack Overflow.

[2015-12-21 18:04] oguzbilgic opened #693 "Using NODE_DELETE lists become [null] array with 1 item"
Using `NODE_DELETE`, related lists become `[null]` array with 1 item in them.

Given this mutation payload:

[code]

with this `getConfigs`:

[code]

There is also another field that has cars in it: `shop.cars`. Car should also be removed from `shop.cars` list. However It's only converted to `null`, It's not removed, unlike `viewer.cars`

[code]

I believe this is a bug. I can't think of a reason

[2015-12-21 19:43] josephsavona commented on #693
Thanks for reporting this. Relay removes deleted nodes from connections, and we should probably remove them from lists for consistency. In this case that would mean returning an empty list instead of a list of `[null]`.

@yuzhi can you think of any reason we shouldn't/can't do this?

[2015-12-21 20:53] mailaneel commented on #691
I am using react-router-relay, which is passing history object as a prop to '''Comments'''

[2015-12-21 21:50] BerndWessels opened #694 "UNMET PEER DEPENDENCY babel-relay-plugin@0.6.1"
Hi

Looks like you released a new version `0.6.1` of the `babel-relay-plugin` to `npm` without releasing a new matching version of `react-relay`.

Any particular reason for that? Would be good if you could keep these in sync to avoid confusion.

[2015-12-21 22:38] yuzhi commented on #693
@oguzbilgic Yeah `NODE_DELETE` mainly support nodes and nodes in connections since we do keep some extra metadata about each connection. If you want to update `viewer {cars}` and you know that can change as a part of this mutation, you can add another `FIELDS_CHANGE` config.
`
      {
        type: RelayMutationType.FIELDS_CHANGE,
        fieldIDs: { viewer: this.props.viewer.id},
      },
`
@jose

[2015-12-21 23:01] oguzbilgic commented on #693
@yuzhi Thank you. Thats exactly how I got around. However It's really pita at the moment. Basically `NODE_DELETE` doesn't do what its suppose to, and we need to find every list that may include this , get their ids in `getFragment`, and maybe add to `payload` ...

[2015-12-21 23:11] josephsavona commented on #693
It definitely seems that filtering nulls would be the correct behavior here. @oguzbilgic any interest in submitting a PR to fix?

For you or anyone else interested in a PR, the best place to start would be in RelayRecordStore where we return the list of IDs in the list in [`getLinkedRecordIDs`](https://github.com/facebook/relay/blob/master/src/store/RelayRecordStore.js#L509-L519). This could be ch

[2015-12-21 23:13] NevilleS opened #695 "NODE_DELETE does not update cached connections as expected?"
Hello there, I noticed some unexpected behaviour here and I'm not sure whether it's an issue or I'm just misunderstanding the API. I'll try to be as specific as I can, although I don't know of a good way to set up a shareable test case (sorry).

#### Version
This is using react-relay 0.6.0.

#### Issue Description
I have a component that renders a list of `Groups` that an `Item` belongs to. There

[2015-12-21 23:14] oguzbilgic commented on #693
@josephsavona :+1: I have no experience, but It says 'good first bug', I can give it a try this weekend. :)

[2015-12-21 23:15] josephsavona commented on #694
@BerndWessels Where did you see this warning, and what version of npm and relay are you using?

cc @kassens

[2015-12-21 23:24] ts-smith commented on #692
There is a lot of new concepts with Relay, so it is hard to know if that is a bug or not. But if it is a bug, it is simply an under optimization, because I believe the type information of the nodes should already be present. It is hard to show all of the potentially relevant information, but I found that the problem only exists when I have a certain fragment on one of the union types of the query.

[2015-12-21 23:57] BerndWessels commented on #694
@josephsavona I maintain the `babel-relay-plugin-loader` module and regularly check for new versions of the `babel-relay-plugin`. This morning I noticed that somebody released `0.6.1` of the `babel-relay-plugin`. So I updated and published a matching version of the `babel-relay-plugin-loader`.

Maybe others want get it yet as long as they target a specific version of the plugin, but if you use `^0

[2015-12-22 00:05] kassens commented on #694
Sorry, this is a problem that rippled through.

- The plugin's version was updated in a4d037fd386f62af9cc4831c409c6e15bac67d88 to make sure internally the transform cache was invalidated, but no new version released.
- This caused `npm install` inside the examples to fail since they had the 0.6.1 version, but expected 0.6.0. As a solution to this, I published the plugin, without doing a full relea

[2015-12-22 00:09] BerndWessels commented on #694
@kassens It doesn't really break anything, at least for me it only gives a `npm` warning `npm WARN react-relay@0.6.0 requires a peer of babel-relay-plugin@0.6.0 but none was installed.`

But having matching clean releases would be nice anyways ;)

[2015-12-22 00:35] josephsavona commented on #694
@kassens thanks for confirming, and @BerndWessels for pointing this out.

We'll go forward with a `0.7.0` release this week.

[2015-12-22 01:35] steveluscher commented on #655
I think that the refetch problem was fixed by e2b533b47ffb33d701ac288679fd18c6846fdc5c, but now I'm seeing a different problem on [this playground](facebook.github.io/relay/prototyping/playground.html#source=%2F**%0A%20*%20Copyright%202013-2015%2C%20Facebook%2C%20Inc.%0A%20*%20All%20rights%20reserved.%0A%20*%0A%20*%20This%20source%20code%20is%20licensed%20under%20the%20BSD-style%20license%20found%

[2015-12-22 01:58] LegNeato opened #696 "No way to get an underlying GraphQL error from RelayMutationTransaction's onFailure"
No way to get an underlying GraphQL error from RelayMutationTransaction's `onFailure`:

[code]

The problem is `transaction.getError()` in the `onFailure` callback only gives me access to a Relay `Error`, which means I can't get at the underlying GraphQL `Error`:

[code]

GraphQL errors are likely more user friendly than the Relay errors. I think `onFailure` should get passed the underlying GraphQ

[2015-12-22 02:10] BerndWessels opened #697 "[Error: field type must be Input Type] cannot pass qlType into mutation"
Hi

I want to update a `person` with the `UpdatePerson` mutation. I don't want to specify each and every property in the `inputFields` - but rather want to pass the complete person object.

When I do that I get `Error: UpdatePersonInput.person field type must be Input Type but got: Person.`

Is there no way to pass complete objects rather than all of their properties to a mutation?

If there isn't

[2015-12-22 02:30] gschammah commented on #665
is this fix going to be published to npm soon? thanks!

[2015-12-22 02:31] josephsavona commented on #696
Thanks for asking about this. Errors have a `source` property that includes the original error information from the server, which can be accessed as `transaction.getError().source`. It's an object with all the error data returned from the server.

[2015-12-22 02:44] NevilleS commented on #695
Aha! :tada:

The more I thought about this, the more I felt that this was too fundamentally "broken" to be an actual Relay bug. After debugging a bit further, I realized that the `deletedGroupItemId` was the *wrong* ID; it was a database ID, not a Relay GUID. Therefore the `NODE_DELETE` was, essentially, silently failing to find a node that matched the id it was given.

I suppose the workaround wo

[2015-12-22 02:44] #695 closed

[2015-12-22 02:46] LegNeato commented on #696
Ah sweet, that is exactly what I needed...guess I missed it. Thanks!

[2015-12-22 02:46] #696 closed

[2015-12-22 05:51] ccorcos commented on #688
Sounds good @josephsavona

http://stackoverflow.com/questions/34409268/relay-cache-with-flux-pattern

[2015-12-22 05:51] #688 closed

[2015-12-22 06:39] josephsavona commented on #695
Ah, that makes sense. Thank you for the detailed write up, and detailed follow up. We should definitely warn if the deleted of field doesn't match up in order to help catch these cases. If you're interested we'd be happy to accept a PR (take a look at writeRelayUpdatePayload).

[2015-12-22 08:40] ansarizafar commented on #541
@faceyspacey I would love to test your implementation.

[2015-12-22 09:40] netgusto commented on #309
@taion @vladar Thanks for you answers.

Still, the relay variables set in the parent (`Freelance`) are set in the nested component (`FreelanceList`), but not used by relay in the query fragment defined by `FreelanceList`.

[code]

[2015-12-22 10:34] zuhair-naqvi commented on #676
We were really excited to give this a shot but we can't seem to get graphql-relay-js to import into the React Native app as the graphql-relay-js is still based on babel 5.x and our fork of RN 0.16 (with Relay) is using babel 6. We tried upgrading graphql-relay-js to babel 6 but then it wouldn't find babel-runtime helpers even though we're using babel-plugin-transform-runtime.

Then we tried manual

[2015-12-22 10:52] JonasFromell commented on #35
Would also like to know how to specify parentName when connection is nested (`viewer { cart { items } }`)

[2015-12-22 12:05] netgusto commented on #309
I've set up this playground that reproduces the problem: https://goo.gl/i7uuMt

[2015-12-22 12:23] arypurnomoz commented on #541
+1

[2015-12-22 15:28] NevilleS commented on #695
Sounds good, I'll take a look. Happy to help out :+1:

[2015-12-22 17:33] josephsavona commented on #676
good question. cc @sebmck @amasad

[2015-12-22 17:33] RavenHursT opened #700 "Docs need to mention `null` usage for initialVariables"
The docs for setting `initialVariables` for the Container API do not mention how to initialize unknown values for variables (i.e. The initial `cursor` value for pagination).

The correct way to initialize variables w/ an unknown value is to use `null`.  It took over half a day of searching and asking before this answer was given to me:

http://stackoverflow.com/questions/34406667/relay-pagination-

[2015-12-22 17:37] z81 opened #702 "Uncown bug"
Client js
https://gist.github.com/z81/39db6f188087f6ad726f#file-main-js
Server js
https://gist.github.com/z81/47ad0a57ce9c527c2f0a#file-server-js
Generate this graphQL
[code]
Zero errors in console and not working.
In network xhr returned valid json result have users.
[code]
Sorry for very bad english.

[2015-12-22 17:49] vjeux commented on #676
cc @tadeuzagallo

[2015-12-22 17:50] josephsavona commented on #702
@z81 Relay doesn't currently support connections as root fields (as you have with `users` on the `Query` type). We're gradually implementing support for a wider variety of root fields, but in the meantime please see the workaround at #112. We suggest creating a "viewer" root field and putting top-level connections under viewer.

I'll close this issue since it's a known limitation with a documented

[2015-12-22 17:50] #702 closed

[2015-12-22 19:04] taion commented on #676
@josephsavona

Thanks for linking me here. That makes a lot of sense, and it's a really neat implementation. I'll update the README on relay-local-schema appropriately.

In a perfect world, I'd like to be able to entirely avoid the waterfalls and send un-cached GraphQL queries wholesale to the master (especially in a mobile context), but just using DataLoader sounds like a really neat implementati

[2015-12-22 22:20] skevy commented on #676
@zuhair-naqvi this is a known issue with how the RN packager deals with babelrc.

The way around it is to define your own transformer, that either does something similar or extends https://github.com/facebook/react-native/blob/master/packager/transformer.js. You can put in the babelRelayPlugin there. This is how its done:

https://gist.github.com/skevy/1a814befb036b98b30d2

You would then call the

[2015-12-23 05:57] zuhair-naqvi commented on #676
@skevy thanks for the suggestion. @josephsavona thanks for your help so far, you've been great!

At this stage, we've decided to use Redux for our project given the timelines we're working with but I'd be keenly watching how the Relay and React Native communities toy with this idea as it could potentially kill three of the hairiest birds (i.e. Offline, Real-time and Local state) with one teeny-tin

[2015-12-23 10:49] amasad commented on #676
cc @hzoo @thejameskyle @loganfsmyth any insights on the babel-runtime issue mentioned above?

[2015-12-23 11:26] tonyxiao commented on #541
@faceyspacey We would love to explore how to use Relay / GraphQL together with Meteor as well, Let me know if you end up going down this route further. @qimingfang fyi.

[2015-12-23 15:12] skevy commented on #676
@amasad I'm almost positive all the issues @zuhair-naqvi described above have to do with https://github.com/facebook/react-native/issues/4062

[2015-12-23 16:31] ForbesLindesay commented on #112
One problem with the `viewer` approach is that Relay seems not to let you specify multiple levels of nesting at the root query level:

[code]

Is there a workaround for making that work?  Or should my root query always just be statically set to `query { viewer }`?

[2015-12-23 16:34] josephsavona commented on #676
@zuhair-naqvi thanks for starting the discussion, bringing up the Babel issue, and for the follow up. Good luck with the project and let us know how it goes!

[2015-12-23 16:39] josephsavona commented on #112
@ForbesLindesay There's no technical reason we couldn't allow nesting in the root query. The only thing that would have to change is GraphQLFragmentPointer's createForRoot method, which makes a simplifying assumption that the fragment is a direct child - any interest in sending a PR? ;-)

Otherwise, yes, most apps end up with mostly viewer/node root queries.

[2015-12-23 16:44] thejameskyle commented on #676
I thought the typeof issue was resolved by @loganfsmyth as of `babel-runtime@6.3.19`. https://phabricator.babeljs.io/T6644#68981

[2015-12-23 16:50] skevy commented on #676
@thejameskyle you're probably right. I'm 90% positive this a RN packager issue that's being described, not a babel one.

[2015-12-23 19:15] NevilleS commented on #695
OK @josephsavona I took a quick look at `writeRelayUpdatePayload` to see how I might go about adding a warning for this. It seems like it'd be relatively trivial to test the record status in `handleNodeDelete` just before the `deleteRecrod` method is invoked (i.e. lines 128 & 131 [here](https://github.com/facebook/relay/blob/master/src/traversal/writeRelayUpdatePayload.js#L131)). Alternatively, I

[2015-12-23 20:29] RavenHursT commented on #112
@steveluscher has there been any progress on this? Is there anyway I can help? Right now, we're basically using `JSON.stringify()` to send in multiple arguments via Relay to a root query.  It's a very hacky solution, but seems to be working.  Would love to be able to remove this cruft from our project sooner rather than later ;-)

[2015-12-23 20:31] ForbesLindesay commented on #112
The right solution seems like it would be to fix this issue.  If you have pointers on what to do though I can try and produce a pull request.  I'm not really clear on the details of what code does what.

[2015-12-23 22:47] eyston commented on #114
I am working on a `RelayCompositeNetworkLayer` at the moment.  The idea being that you might have multiple schemas and you want to send each to a different network layer.  The 99% use case is 'server' data and 'local' data.

[code]

This works, but has a few downsides being at the network layer.  So here is feedback on how it could be better if done as part of `Relay.QL` babel plugin.  Also, these

[2015-12-24 01:47] steveluscher commented on #112
@RavenHursT: Indeed, though at one time I was moving full steam on this project, it's been moved to the backburner. I laid some of the groundwork (we moved from storing an association between ‘fieldNames’ and ‘rootCallIds’ to one between a field's ‘storage key’ (a hash of its name and it sorted arguments) and its ‘identifying argument value.’ Next steps include:

1. Extend the `rootCallMap` such t

[2015-12-24 10:02] filod commented on #549
concrete query issue still.

And this time (0.6.0),  relay complains
[code]
and build a query like this:
[code]

NOTE `__RelayQueryFragment2rl6l6h` fragment

[2015-12-24 10:06] filod commented on #549
@josephsavona can you reopen this ?

[2015-12-24 15:06] z81 commented on #702
I use veawer in # 112, but still get do not get errors, please tell me in what is wrong.
GraphQl
`` `
type query {
   viewer: viewer
}

type Task {
   id: Int!
   title: String
}

type User {
   id: Int!
   name: String
   tasks: [Task]
}

type viewer {
   users: [User]
}
`` `
The server returns the
`` `
{
   "data": {
     "viewer": {
       "users": [
         {
           "id": 1,
           "n

[2015-12-24 19:21] josephsavona commented on #549
@filod It seems like you're using these terms differently than their meanings in Relay. What exactly do you mean by "generate query directly"? Are you calling setVariables?

To help debug this issue, can you clarify the actual steps - in code - that you took to generate the malformed query? For example, "first I rendered ... component with ... fragment(s), then I called Relay.Store.update with a m

[2015-12-25 04:01] filod commented on #549
say i have routing steps like:

`/timeline` -> `/question/123` -> `/question/123/answer-edit`

1. first I rendered question&answer list in route `/timeline` (a concrete/union list), say i rendered `question:123` & `answer:321` in the list
2. then I view `/question/123` in the list above, this will render question page along with some answers (say like `/question/123/answer/321`), in this step, i w

[2015-12-25 12:43] bfwg opened #705 "All the IDs in a collection is the same."
Hi, here is my example code :
[code]

And here is the output

[code]

For some reason all the IDs in the collection are the same.

Please help me!

my dependences:
[code]

[2015-12-26 02:41] josephsavona commented on #705
Hi there, happy holidays! We're trying to keep GitHub issue focused on bugs and enhancements to facilitate communication amongst contributors. Questions like these deserve a dedicated support channel - would you mind posting this on Stack Overflow? If you tag it with "relayjs" we or someone from the community can help out. Please post a link to the question here so we know where to look :-)

[2015-12-26 08:37] bfwg commented on #705
Thanks for the replay,
I posted the question on Stack Overflow and here is the link http://stackoverflow.com/questions/34469725/i-try-to-implement-a-connection-using-relay-and-all-the-nodes-ids-are-the-same

Merry Christmas

[2015-12-26 17:47] josephsavona commented on #705
Looks like it was answered, I'll close the issue. Thanks for asking!

[2015-12-26 17:47] #705 closed

[2015-12-27 06:10] skosch commented on #688
@josephsavona I'd love an answer to this too, please do respond – I've been looking at http://github.com/gyzerok/adrenaline for this exact purpose, but I don't think it's quite up to snuff yet.

[2015-12-27 10:29] netgusto commented on #309
anyone ?

[2015-12-27 11:49] vladar commented on #309
@netgusto Yeah, this variable mapping process is one of the most error-prone and unclear areas in Relay.

It is better to understand it's internals better to avoid pitfalls. You must realize that GraphQL query is prepared in static time - before components are rendered. Relay cannot know value of your `props` at  this point in time. That is why it must be passed in as variable (route param for ini

[2015-12-27 15:04] netgusto commented on #309
Thank you @vladar for your detailed answer. Applying your advices, I can't get it to work on the React Playground.

It's bugging me how difficult it is to use relay for some simple use cases. Maybe my approach is wrong.

What I've found difficult so far :

* Static query resolution; I understand why it's done that way, and do not complain; but some use cases (using a piece of component state as a

[2015-12-27 17:36] vladar commented on #309
Hey, try https://goo.gl/08PZ7g - working version on playground.

Also note that I am not a member of Relay team, so no comments on your points, although I do share some of them.

[2015-12-27 19:02] kasselTrankos opened #706 "Support node 5.x"
Hi,
Im trying to use relay with node 5.x, and give me allways
Current node version is not supported for development, expected "5.3.0" to satisfy "4.x"

Could i use it?
tks

[2015-12-27 20:03] josephsavona commented on #309
@vladar thanks for answering so many questions here and for the working playground. there's one hand-coded message left though...

@netgusto [here](https://facebook.github.io/relay/prototyping/playground.html#source=%2F%2F%20LINE%2024%20below%3B%20change%20%22the%20static%20message%22%20below%20by%20%24message%20%3A%20boom%20!%0A%0Aclass%20HelloNested%20extends%20React.Component%20%7B%0A%20%20rend

[2015-12-27 20:09] ccorcos commented on #688
yeah, seems a little too hacky.

[2015-12-28 01:08] josephsavona commented on #688
@skosch @ccorcos @dminkovsky I answered on stack overflow.

[2015-12-28 01:12] josephsavona commented on #706
Thanks for filing this. I'm not aware of any reason that we *can't* support node 5.x, but others will know more.

cc @zpao

[2015-12-28 07:53] skosch commented on #688
Thanks!

I suppose live queries of some sort would be necessary to make this work, but it would be nice – for my niche use case at least – if the clients could store not just the current data coming from the server, but also keep a history (i.e. Redux store) of all data changes that ever came down. In other words, I'd love a system that is

* realtime,
* makes optimistic UI updating easy
* support

[2015-12-28 16:15] kasselTrankos commented on #706
Ok, meanwhile i'll try to use in one isomorphic project

[2015-12-28 16:15] kasselTrankos commented on #706
thanks

[2015-12-28 18:06] josephsavona commented on #688
@skosch What you're describing matches up with our goals for Relay at a high-level. For example, we support optimistic UI updates out of the box, and real-time updates are on the roadmap (#541).

We'd definitely like to work with the community to support local state and to make debugging easier and more powerful (see #114, #541, etc). Some of the main challenges to implementing your idea as-is are

[2015-12-28 18:36] josephsavona commented on #114
@eyston Great writeup! Here are some brief thoughts on the main points:

- As you mentioned, using a custom network layer can simulate local state to some extend, but it doesn't take full advantage of Relay's knowledge of the state of the cache and could mean that you make additional unnecessary queries.
- As far as schema information, the schema would definitely need to know which fields are part

[2015-12-28 19:53] eyston commented on #114
Here is the code for the composite network layer I'm working on: https://github.com/eyston/relay-composite-network-layer

It works but has a huge limitation in that it only handles query cases I've thought of :)

Minor side note -- testing is hard because I don't know how to clear the `Relay.Store` between tests so order matters and some queries could be using cached data ;p

[2015-12-28 20:57] zpao commented on #706
I don't recall if there was a reason not to support node 5 for development, but npm 2 was still a requirement due to Flow configs IIRC.

[2015-12-28 22:12] KyleAMathews commented on #114
Well that's cool.

On Mon, Dec 28, 2015 at 12:53 PM Huey Petersen <notifications@github.com>
wrote:

[2015-12-28 23:00] kasselTrankos commented on #706
hi @zpao, i put the error code.
[code]
 :(, so if npm requirement Flow change will be usefull,

[2015-12-29 02:06] NevilleS commented on #695
OK, hopefully you're enjoying a holiday break, but wanted to update this.

I poked around the Relay source code quite a bit over the last few days and there's definitely no way to "validate" that a record ID is valid, so that won't work. The question remains whether or not triggering a warning when a NODE_DELETE is attempted makes sense. I imagine that in the majority of use cases, the node being

[2015-12-29 14:32] ziflex opened #707 "Complex type as a query argument."
Hi there,

I've faced with an issue that Relay doesn't support complex types (GraphQLInputObjectType) as argument for query, though GraphQL itself supports it .

Are there any plans to implement this feature? Because one argument for query is not enough.

[2015-12-29 14:54] NevilleS commented on #677
I was looking for a good way to poke around the internals of the babel-relay-plugin so I've prepared a quick PR to fix this! @josephsavona, you're correct that GraphQLRange does validate the arguments it is given at runtime, so the plugin's static validation can be loosened a bit.

I didn't end up removing the validation entirely, I just added an check to see if the arguments are variables. That m

[2015-12-29 16:08] ziflex opened #709 ""variables" are empty"
Object, which is sent to the server, has a ```variables``` property.
Accordingly to GraphQL spec it should contain query's variables.
But it turned out that Relay compiles the query and inserts variables inside of it.
Is it bug or feature? With current implementation it's almost impossible to use these values outside of GraphQL.

[2015-12-29 20:39] josephsavona commented on #709
Great question! This is intended - scalar values are printed inline, while input objects and enums are printed and sent as variables. This is somewhat of an arbitrary choice, though we have found that it's easier to debug queries with unlined argument values.

[2015-12-29 20:43] josephsavona commented on #707
Ran you clarify how you're specifying your query or fragment? Relay does support input objects as argument values, but only when they are passed as a variable.

I.e. This works:

`query { search(query: $inputObject) }`
With variables `{foo: 'value'}`

This isn't supported:

`query { search(query: {foo: ...}) }`

[2015-12-29 21:36] treeder commented on #694
Did you release this?  I'm getting npm install errors too:

[code]

[2015-12-29 21:37] ziflex commented on #707
Hi @josephsavona, thanks for response!
On route level I have such query:
```query GetFormContent($params: QueryParams!) { getModel(params: $params)}'```

and on container level:

```fragment on Model {...poperties...}```

The problem is that I'm getting an error:

Then I had taken a look at the code which is throwing the error (```forEachRootCallArg.js```) and found that there is no option for obj

[2015-12-29 21:42] ziflex commented on #709
@josephsavona, is it possible to change this behavior?

[2015-12-29 22:15] mrogg opened #710 "setVariables doesn't re-@include fragment"
If a fragment contains only one field and that field is conditionally @include -ed this may result in no query being sent to the server. I believe this is because of this check: https://github.com/facebook/relay/blob/master/src/query/RelayQuery.js#L221.

This is fine/expected except if the condition checked in the @include is then set via setVariables to some truthy value. In this case the fragmen

[2015-12-30 02:38] josephsavona commented on #707
Cc @steveluscher as this related to his work on root calls

[2015-12-30 03:09] josephsavona commented on #710
@yungsters could this have to do with the way we previously de-duped fragments when printing?

[2015-12-30 03:10] josephsavona commented on #709
Possible, yes, but what's the use case? As I said, the current approach has made queries easy to read and debug.

[2015-12-30 04:03] denvned commented on #589
@josephsavona , @yungsters Looks like it is not possible anymore because of https://github.com/facebook/relay/commit/a26c8b4703adb3ae1b28421fdd06a9b7e8140f85. Is it possible to revert that commit back? It will be hard to implement `Relay.prepare`, as discussed above, without `toGraphQL`. Also [isomorphic-relay]
(https://github.com/denvned/isomorphic-relay), which many people use, already actively

[2015-12-30 05:44] yungsters commented on #710
@josephsavona I'm not sure, but I don't think so. The memoization that happens in `printRelayQuery` occurs using `getFragmentID()` which takes into account variable values. [There is a test case demonstrates this.](https://github.com/facebook/relay/blob/master/src/traversal/__tests__/printRelayOSSQuery-test.js#L341-L375)

I'll have to create a test case to debug this further.

[2015-12-30 05:58] yungsters commented on #589
@devned Sorry about that. I have a revision awaiting internal review that will bring this back.

[2015-12-30 06:21] yungsters commented on #710
I can reproduce this using a container with the following fragment:

[code]

When `$showActor` is initialized to `false`, I'm observing that `this.props.viewer` is `null` instead of being an empty object. Also, there is no network request made if this is the only fragment in the entire tree.

It makes sense for there to be no network request — `Viewer` has no `id`, so we do not even send a request

[2015-12-30 06:46] skosch commented on #688
Thanks for the kind reply and the links to #541 and #114. I knew about those threads but hadn't kept up with them.

I'm not interested in time travel as an "advanced developer tool" a.k.a. debugging toy, but as a clean way to provide end user undo functionality in data-based apps (read: lots of big but boring trees and tables of stuff) – i.e. what Google Docs provides for text files and spreadshee

[2015-12-30 08:28] nodkz commented on #589
@yungsters please add a note about `toGraphQL` method, that it used for isomorphic apps, for debugging and logging. Its removing should be prevented in future.

[2015-12-30 13:26] ziflex commented on #709
@josephsavona I need these values before data resolving in schema.
So, what can I do to change it?

[2015-12-30 14:38] mrogg commented on #710
@yungsters Yes, that's correct. It's null and there's no way for the setVariables path to recover.

I've been attempting to understand how an empty record could be dropped in instead since I assume there'd be some sort of response like that if the @include made it to the server with it's condition false and the server returned an empty response.

Thanks for your help.

[2015-12-30 16:54] clayallsopp opened #711 "Rename Relay.Mutation#getVariables?"
Should Relay.Mutation#getVariables be named something like `getInput`? Or something else that explicitly ties it to constructing the input argument?

My understanding and reading [the docs](http://facebook.github.io/relay/docs/api-reference-relay-mutation.html#getvariables-abstract-method) suggests that the method is only ever used to in context with the input - in fact there's even a warning in t

[2015-12-30 21:17] skevy commented on #549
+1 on this

My use case is as follows:

Go to "Activity Stream" route, which uses this fragment (note the union type on "object"):

[code]

Go to the event detail page (new Relay Root Container)...fragment is:

[code]

Click "Add Comment", brings up new relay root container using this fragment:

[code]

Then, we perform the EventCommentMutation, which is defined as:

[code]

The mutation generates

[2015-12-30 22:56] josephsavona commented on #709
Ah, if I understand correctly you're trying to access the argument values at each `resolve` function. In GraphQL, It doesn't matter if the arguments are printed inline or using variables: they're accessible the same way, via the second `args` param to `resolve`. The `graphql-js` guide has an example at  http://graphql.org/docs/getting-started/ (Search for "args").

[2015-12-30 23:56] chandu0101 commented on #26
https://github.com/facebook/react-native/commit/6a838a4201f99ae5e88b3684bb798d363815dd53

[2015-12-31 03:13] eyston commented on #541
Anyone I can coordinate with on trying to help out on this?

[2015-12-31 05:17] denvned commented on #589
@yungsters Thanks for bringing `toGraphQL` back!

[2015-12-31 06:23] ryancole commented on #112
@yungsters If I were to embrace the origins of Relay, and build a system of my own that has a similar "root call" named `viewer`, is it fair to say that `viewer` is sort of like the current active user's window into the nested data fields?

[code]

If I were currently signed in as a some user, the `accounts` field would take my session and authorization into account, on the back-end, and only prov

[2015-12-31 06:40] yungsters commented on #112
@ryancole You have the description of `viewer` correct. For example, at Facebook, `viewer` contains a `news_feed` connection field that is always the current viewer's news feed. Another notable field that `viewer` has is the `actor` field which allows querying the current user's information.

As far as I know, our internal GraphQL endpoint was not originally designed for usage without authenticati

[2015-12-31 07:01] NevilleS commented on #112
Is this actually true? I believe that if your `viewer` has a global ID (i.e. it's a Node), it will work just fine. Maybe not though, I haven't actually tried it.

[2015-12-31 08:32] ziflex commented on #709
@josephsavona no, I need it outside of GraphQL pipeline, before it reaches it, in a middleware. The thing is that I use dynamically generated schemas for some forms and based on root query I need to define which schema I should use for particular request.

[2015-12-31 10:39] josephsavona commented on #709
I see - thanks for clarifying your use case. While changing the way queries are printed *may* work this is a brittle approach as we may change the format at any point. Instead, it sounds like this is ultimately a problem of identifying (on the server) the schema that the client is using. The general solution in Relay to transmitting extra information between client and server is to use a custom ne

[2015-12-31 12:04] ziflex commented on #709
@josephsavona custom NetworkLayer is not an option, because during single session there might different forms which require different GraphQL schemas.
So, that's why I wanted to pass data with query in order to define proper schema.

[2015-12-31 13:36] josephsavona commented on #709
Hmm. A custom network layer does seem like the right approach here, but we'd need more information to give suggestions about implementing it:

- do you have multiple distinct apps each with their own schema, or one app that uses multiple schemas? (aside: if one app, why not merge the schemas?)
-  how did you configure `babel-relay-plugin` and how are you transforming your app code if there are mul

[2015-12-31 19:10] ziflex commented on #709
@josephsavona let me explain what app does.
We have 2 services: Composer and Renderer.
Composer creates form definitions with fields, data sources for them and validation rules. During composing the form, we generate schemas and compile queries for dta fetching and mutation and store them as a part of definition.

Renderer is supposed to render form based on this definition.
Here Relay comes.
We h

[2015-12-31 19:41] bsr203 opened #712 "flow types"
Relay source is heavily annotated with flow types, and I too like to use these types in my project. Currently I am getting lot of errors on `Missing annotation`. I am not sure if there a way to `import` relay type definition in my code.

I think the compiled code strip off all type def, so probably below import doesn't make sense
`import type RelayQuery from 'react-relay/lib/RelayQuery';`. So what

[2015-12-31 23:27] josephsavona commented on #709
Thanks again for clarifying. As I mentioned above, relying on how Relay formats queries is a brittle approach that we don't recommend further, we'd prefer to avoid adding constraints on the formatting just to satisfy one product - this would limit our ability to iterate and possibly make improvements that benefit all users.

That said, my original suggestion seems to apply: use a custom network la

[2016-01-02 03:01] josephsavona commented on #709
@ziflex in going to close this since it isn't a big or enhancement. Feel free to ask follow-up questions here, or even better on stack overflow or in the discord channel.

[2016-01-02 03:01] #709 closed

[2016-01-02 18:01] ziflex commented on #709
@josephsavona ok, thanks for help!

[2016-01-03 03:36] #676 closed

[2016-01-03 03:39] josephsavona commented on #697
Apologies for the late reply. As we've mentioned before, we're trying to keep GiHub issues focused on bugs and enhancements. Questions like yours deserve a focused support forum - we'd recommend asking about this on Stack Overflow (tag with `relayjs`) and posting a link to the question. Thanks!

[2016-01-03 03:39] #697 closed

[2016-01-03 04:16] yongxu commented on #26
d ft ff can gg
On Dec 30, 2015 5:57 PM, "Chandra Sekhar Kode" <notifications@github.com>
wrote:

[2016-01-03 04:17] yongxu commented on #26
vggff g g fgfg f fgf BBC v gb BBC x fcxd f
20th ppp Pou p llo00 mm
On Dec 30, 2015 5:57 PM, "Chandra Sekhar Kode" <notifications@github.com>
wrote:

[2016-01-03 17:54] skevy commented on #26
For all those people tracking this issue:

Following the https://github.com/facebook/react-native/commit/6a838a4201f99ae5e88b3684bb798d363815dd53, I have submitted several PR's that do the remaining work to get Relay working out of the box with React Native.

They are as follows:

**React Native:**
https://github.com/facebook/react-native/pull/5084 - Removes `fbjs` knowledge from the packager, all

[2016-01-04 01:02] ryancole opened #715 "Can Relay Container fragments be optional?"
I'm using react-router-relay, and this may be a limitation imposed by that, so if so I apologize.

When creating a Relay Container, perhaps via `Relay.createContainer`, why must there be fragments specified? In some cases, I must create Relay Containers just so that child Relay Containers can properly function. The parent Relay Container does not actually have any data dependencies of its own.

I

[2016-01-04 01:05] ryancole commented on #715
Hmm, nevermind, I guess you can't set `fragments` to an empty Object. I thought I recalled doing so.

[2016-01-04 01:05] #715 closed

[2016-01-04 03:26] rapilabs commented on #696
That's odd, I'm getting an object of type `Response` from my `transaction.getError()`.  Any ideas on what I'm doing wrong?  Running with the latest development snapshot.

[2016-01-04 04:14] clayallsopp commented on #711
`getFatQuery` might also be a candidate for renaming? i.e. `getPayloadFragment` / `getPayloadQuery`? (I believe it can only be a fragment on the payload type?)

[2016-01-04 04:43] josephsavona commented on #696
@rapilabs are you using the default network layer? If yes, and the error property is not what's documented then it's a bug (and worth filing a new issue).

[2016-01-04 08:54] ziflex commented on #707
@josephsavona any updates?

[2016-01-04 11:41] Gregoor opened #716 "FIELDS_CHANGE according to payload"
It seems that only fields of a node can be changed that are known prior to commiting the mutation. In my payload there is a variable count of nodes that need to be updated, but the config examples I found rely on known IDs in the props.

Why do we even need `FIELDS_CHANGE`? Can't Relay just update every node that is in a payload?
And if it is needed, how about having a field in the config that ret

[2016-01-04 14:16] NevilleS commented on #716
Remember, the mutation config is used to design the mutation query passed to the server. With the constraint of a single round trip, you can't have the mutation query depend on the mutation payload, that's impossible.

In cases where a large portion of the graph is affected, the only thing you can do today is to use REQUIRED_CHILDREN to pull out some data from the payload and use that data to kick

[2016-01-04 14:21] Gregoor commented on #716
Maybe I'm missing something: In what way can a config change the query?

I would imagine that without FIELDS_CHANGE, Relay could just require IDs for all the nodes in the fat query, so that it knows which fields to update.

[2016-01-04 14:38] Gregoor commented on #716
Since we can't know what is already loaded (and can't do the intersection with the fat-query) without knowing the ID, letting the server just return everything would be overfetching. So I guess my ideas from the original post are against the spirit of Relay.

[2016-01-04 14:38] #716 closed

[2016-01-04 14:40] NevilleS commented on #716
Heh, I don't think it's necessarily "against the spirit". Mutations that affect arbitrary portions of the graph are a real-world problem so there should be a "Relay-ish" way to solve it. Right now you can do two round trips using `REQUIRED_CHILDREN` to get the affected IDs from the payload, but that's a lot of boilerplate, so it might be nice to support something a bit more declarative. Personally

[2016-01-04 16:12] shahankit opened #717 "Initial variables not working in Relay.Mutation"
I'm trying to implement optimistic update for relay mutation. When I try to pass variable in Relay.QL in any normal relay container I normally use the following syntax:
[code]
This works correctly. For mutations I've created a class extending Relay.Mutation. Here initialVaraibles and fragment are defined as follow:
[code]
However when mutation is called it gives error `Expected a declared value fo

[2016-01-04 18:49] BerndWessels commented on #697
@josephsavona Happy New Year
I posted it on StackOverflow [here](http://stackoverflow.com/questions/34597773/error-field-type-must-be-input-type-cannot-pass-qltype-into-mutation)
Thank you

[2016-01-04 19:05] BerndWessels commented on #26
@skevy Thank you so much. Would be great if you could post here once it all has been merged and released.

[2016-01-04 19:07] BerndWessels commented on #694
@treeder it looks like 0.7.0 hasn't yet been released - most likely due to Christmas ;)

[2016-01-04 21:00] BerndWessels opened #718 "How to navigate without cursors in a connection (with hundreds of pages)"
Please find [this question](http://stackoverflow.com/questions/34192587/how-to-navigate-without-cursors-in-a-connection) on Stack Overflow.

[2016-01-04 22:50] ryancole opened #719 "Mutation not fetching data specified by the fat query in conjunction with RANGE_ADD?"
I'm trying to understand `RANGE_ADD`. I've provided the mutation config, for `RANGE_ADD`, with all the required information. I use the `viewer` naming convention, with my connections nested within `viewer`. Below is what my complete Relay Mutation looks like ...

[code]

I provide a fragment for the `viewer` id, which at run-time, within `getConfigs`, I can see is present.

In the GraphQL Mutation

[2016-01-04 23:19] josephsavona commented on #718
Thanks for the SO link!

[2016-01-04 23:19] #718 closed

[2016-01-04 23:41] slorber commented on #233
@josephsavona hello

You mention a "forceFetch" method but I don't see it documented here is it normal? https://facebook.github.io/relay/docs/api-reference-relay-store.html

[2016-01-05 00:05] dminkovsky commented on #246
What is the deal with `#if()` in `BabushkaList.getFragment('babushka').if(variables.expand)`? It looks like `RelayContainer.getFragment()` returns a `RelayQueryFragment` which doesn't seem to have an `#if()` on its prototype.

[2016-01-05 00:07] slorber opened #720 "Cache API: invalidation, expiration, refresh, clean, TTL, LRU..."
Hi,

After reading some doc and viewing some Relay/GraphQL talks I'm interested in the technology but I don't feel it right now because of the lack of fine-grained control of the Relay caching system (at least in the documentation)

I mean everywhere it mentions that Relay is caching data, but at no point it mentions how Relay manage to remove entries from that cache. It makes me think that Relay

[2016-01-05 00:54] steveluscher commented on #233
You can find it here: https://facebook.github.io/relay/docs/api-reference-relay-container.html#forcefetch

[2016-01-05 01:30] josephsavona commented on #246
@dminkovsky `RelayFragmentReference` and the `if/unless` functions on it aren't documented. The plan is to replace these with standard GraphQL `@include`/`@skip` directives.

[2016-01-05 01:33] dminkovsky commented on #246
@joesavona I was wondering just that—the relationship between if/unless and
directives. Thanks for clarifying!

понедельник, 4 января 2016 г. пользователь Joseph Savona написал:

[2016-01-05 04:20] andimarek commented on #559
I created a PR recently (https://github.com/facebook/relay/pull/721) which is more or less a Implementation of @josephsavona `DataContainer`.

That PR is based on the current version of Relay, which means there is no clear notion of "Relay Core".  In that sense it doesn't resolve this issue here.

[2016-01-05 08:09] andimarek commented on #693
I just submitted a PR, which should fix this Issue: #722

[2016-01-05 17:32] dphaener commented on #719
@ryancole There's a few other threads floating around in regards to this and I can't find them right now, but essentially, if that data has never been requested by Relay before, then it doesn't know about it and won't request it by itself. I.E. if your query doesn't request `teams` explicitly somewhere, then Relay is not tracking it. In this case, you have to explicitly accompany it with the `REQU

[2016-01-05 17:41] ryancole commented on #719
@dphaener Ah, I see, OK. So if `teams` is requested, and therefore already being tracked, somewhere higher up in the container tree, or by a previous query, then all would work. So, in the event of creating a new node, which couldn't be in the store already somewhere, it might always be good to accompany this with `REQUIRED_CHILDREN`. Thanks for the info!

[2016-01-05 17:41] #719 closed

[2016-01-05 19:17] andresallvs opened #723 "Install error in babel-relay-plugin"
Please check the attached log.

Thanks.
[npm-debug.log.txt](https://github.com/facebook/relay/files/78872/npm-debug.log.txt)

[2016-01-05 19:44] andresalves commented on #723
This solve the problem. https://github.com/relayjs/relay-starter-kit/issues/56

In short, update the old version of global babel-core and babel-cli.

npm install -g babel-core

npm install -g babel-cli

[2016-01-05 20:43] andresalves commented on #723
Sorry, that link don't solve the problem.

I think the problem are incompatibilty of react-relay@0.6.0 and babel-relay-plugin@0.6.2 versions. For apps in examples folder.

Maybe incompatibility with Node@5.3.0 and NPM@3.5.2.

To see the apps in examples folder, i add react-relay@0.6.0 and babel-relay-plugin@0.6.0 in each package.js files and install. That works.

[2016-01-05 21:47] dminkovsky commented on #119
I just got bit by this problem. A warning would have saved me some time. When I figured out what was wrong, I realized that I had been had by this same issue some time ago too, doubling the pain :).

It was unintuitive for me that the optimistic payload should contain the ID given that the ID specified by the config. Does Relay even have the ability to handle IDs changing?

Furthermore, how do I "

[2016-01-05 22:01] BerndWessels commented on #723
@andresalves There is no babel-relay-plugin@0.6.2 as far as I can see, only a babel-relay-plugin@0.6.1 - and that is actually kind of the same like 0.6.0 but react-relay wants exactly 0.6.0.
react-relay and babel-relay-plugin are supposed to be in sync and they will be again as soon as 0.7.0 is released.

[2016-01-06 04:35] andresalves commented on #723
Ok @BerndWessels, but in npm-debug.log.txt you can see:

184 silly resolveWithNewModule babel-relay-plugin@0.6.2 checking installable status

Thanks!

[2016-01-06 06:14] andimarek commented on #559
I would like to help moving this topic forward, if possible:

For example we could start moving some aspects of `RelayContainer`, which are React independent into own modules (e.g. creation of the FragmentPointers/QuerSet).

I'm happy to create a PR for this, if you think this a good idea.

What do you think?

[2016-01-06 07:20] josephsavona commented on #559
@andimarek thanks for your interest in this. Because this change is so fundamental to Relay, the core/react split is something that the Relay core team will be working on in the next few weeks and months (Note that we've documented in the roadmap which projects the core team is focusing on). We use Relay in a lot of complex ways (server rendering, deferred queries, disk caching, subscriptions, and

[2016-01-06 07:36] andimarek commented on #559
@josephsavona Thanks for this quick response. I understand your position and that you want to make sure that those fundamental changes are going into the right decision.

Because my PR #721 will not be merged soon I might end up maintaining a temporary fork of relay to be able to use it without React. Of course I'm happy to contribute back the lessons learned.

[2016-01-06 09:08] josephsavona commented on #559
@andimarek You might also want to take a look at how https://github.com/denvned/isomorphic-relay and https://github.com/relay-tools/react-router-relay are implemented - rather than fork Relay, an alternative is to simply [pull in the parts that you need](https://github.com/denvned/isomorphic-relay/blob/master/src/prepareData.js#L2-L4) from Relay.

[2016-01-06 09:18] mailaneel opened #724 "Relay is sending n requests when there is a difference in requested fields"
On Page1 I have below query

[code]

On Page 2 i have below query

[code]

User lands on ```page2``` to start with and when user navigate from ```page2``` to ```page1``` relay sends approx 300 requests to ```node(id:)``` endpoint

300 is number of races returned from ```races query```

one of 300 requests shown below

[code]

if you closely see the above request is a diff of page1 -> page2 query b

[2016-01-06 11:19] josephsavona commented on #724
Thanks for asking about this. Relay creates a new `node` query intentionally - it saves the server the work of fetching the list itself. The whole lieu is fetched again if use some arbitrary param (such as `limit`) because Relay hasn't fetched that combination of calls yet and doesn't know whether the data could be different.

For all of these reasons, we recommend using a connection instead of a

[2016-01-06 12:05] andimarek commented on #559
@josephsavona Thanks for these hints... I will check it out.

[2016-01-06 15:39] slorber commented on #720
Ohhh I really need some insights on this please :) How do the big players do manage the memory of their caches? Do we simply assume that the session does last enough and that it's nearly impossible that the user reaches browsers memory limits?

Weither we use Relay or Flux with "normalized stores" ([gaearon/normalizr] (https://github.com/gaearon/normalizr)) I wonder how people manage cached data e

[2016-01-06 16:22] nemanja-stanarevic commented on #707
@josephsavona @steveluscher any chance support for input objects as arguments may land in 0.7? I am happy to help with this if it makes sense at this stage.

Tried using variables as place holders for input object arguments as suggested by @josephsavona above.  However,  running into an issue when two fragments, from two separate components, have the same field with variable placeholder for argume

[2016-01-06 19:56] dminkovsky commented on #119
Is [this comment from the todos example](https://github.com/facebook/relay/blob/6229170583737b8fb633777b911ba40cbe37c312/examples/todo/js/mutations/AddTodoMutation.js#L60-L61) the result of behavior? @yungsters

[2016-01-06 21:30] slorber commented on #233
thanks I wasn't looking at the good page!

[2016-01-06 21:37] dminkovsky commented on #477
`REQUIRED_CHILDREN` can be used to ensure that the new edge field is included in the mutation query.

That said, I am not sure that querying for the connection before the mutation actually does include the new edge field in the mutation! Can somebody confirm this? Because—why would the querying the connection include the new edge field in the tracked query, given that the connection field is not t

[2016-01-06 21:42] dminkovsky commented on #542
Re:

In troubleshooting this issue, I considered this may be the case, but then thought: "but then why `RANGE_ADD` configuration have the `edgeName` field? Isn't that how Relay determines what to query for?" I guess just knowing the `edgeName` field isn't enough because it doesn't know the structure of the node? Might this structure come from the fat query?

[2016-01-07 00:21] mailaneel commented on #724
Thanks @josephsavona

As per your comment event implementing ```Connection Interface``` will not solve issue of sending n requests.

I agree with you on the edge cases, but sending 300 requests(in my case) instead of sending one request for list does not make sense(especially if this is on mobile), Temporary solution on my for now is to use arbitrary param(ex: limit as per your suggestion with dif

[2016-01-07 01:22] ts-smith commented on #692
I wasn't able to reproduce the bug, but fortunately there was an easy work around by implementing the union in code for this specific case. Somehow, asking for fields other than {id, __typename} on the client for some types of the union would cause it to always refetch the type, regardless of whether or not it was actually fetched. Some of the types on the union did not have this problem, though.

[2016-01-07 13:53] josephsavona commented on #724
There are a few strategies for handling this case. The first is to use a connection and fetch only the data that is needed for the initial screen - load the first 5 or 10 items and paginate to load more only as necessary.

At Faceboo, we also have a custom "batch" network layer that can send multiple queries in a single HTTP request and receive responses as they're evaluated by the server (note th

[2016-01-07 18:48] trbngr opened #725 "Relay not fetching new data"
This works fine in 0.5.0.

I have a route that fetches data
[code]

when I click the `sessions` link, we transition to `Sessions` where I need to grab more data from the query.
[code]

Relay 0.6 doesn't detect any changes in the query in `diffRelayQuery.js`

[code]
and therefore, doesn't post the query to the server.

Relay 0.5 works correctly.

[2016-01-07 19:11] steveluscher commented on #725
Quick question: I see that the `Event` type has a `uuid` field, but does it have an `id` field?

[2016-01-07 19:19] trbngr commented on #725
It does, but perhaps I need to include it.

BRB trying now.

[2016-01-07 19:27] trbngr commented on #725
No luck.

[2016-01-07 19:38] steveluscher commented on #717
Thanks for this report! I was able to reproduce this using the [Relay Playground](https://facebook.github.io/relay/prototyping/playground.html#source=class%20Comment%20extends%20React.Component%20%7B%0A%20%20render()%20%7B%0A%20%20%20%20var%20%7Bcomment%7D%20%3D%20this.props%3B%0A%20%20%20%20var%20%7Bauthor%7D%20%3D%20comment%3B%0A%20%20%20%20var%20savePending%20%3D%20this.props.relay.hasOptimisti

[2016-01-07 19:49] steveluscher commented on #725
Is this using relay-tools/react-router-relay? How is the transition from one route to the next implemented?

[2016-01-07 19:53] trbngr commented on #725
I *am* using react-router-relay.

[2016-01-08 00:11] thejameskyle commented on #256
ping

[2016-01-08 02:06] dhoward opened #727 "Query arguments being stripped out"
Hi, I have an extremely simple query/route that just needs to query a particular team object and return it. But when the query is sent, it looks like it has the argument stripped out. I'm new to Relay so it may just be something I'm missing, but I believe I've set up everything according to the guides:

[code]

When I render the ContainerComponent, I expect this to fetch the Team with a `uuid` of

[2016-01-08 22:47] Aweary commented on #136
Any word on this? Anyone on the Relay team working on this at all yet?

[2016-01-09 09:26] filod opened #731 "alias validate bug when build concrete query"
say i have this query in my code:
[code]

i will get an error says: ` url is used as an alias more than once. Please use unique aliases.`

if i remove the first url field of VoiceBlock, everything works fine

[2016-01-10 02:13] AJ-1310 commented on #136
I'm wondering the same. Most other third party implementations get the job done, but fall under certain scenarios.

[2016-01-10 03:56] josephsavona commented on #136
With the help of the community we've made good progress towards this. The main prerequisite is making all Relay state contextual instead of global, so that the same node process can be used to handle HTTP requests from multiple users. Almost all modules have been converted and there are pending PRs for the remaining pieces. We're tracking that work in #558.

[2016-01-10 04:07] devknoll commented on #725
Maybe @taion has some insight.

[2016-01-10 06:17] josephsavona commented on #731
Thanks for reporting this. This seems like a bug in the validation logic (which is only a DEV time warning); it doesn't take into account that the same alias can be safely used in fragments of different concrete types.

[2016-01-10 08:16] filod commented on #731
yes, but `react-native` will take `console.error` as an error also brings up a redbox

[2016-01-10 10:23] vslinko commented on #558
@josephsavona you can use this syntax to track subtasks:

[code]

Result:

* [ ] In progress
* [x] Done

[2016-01-10 16:28] taion commented on #725
Any chance this is related to https://github.com/relay-tools/react-router-relay/issues/76? I don't believe I've changed anything relating to that lately.

[2016-01-10 16:44] trbngr commented on #725
I don't believe it is related, no.

I will create a repro today.

[2016-01-10 19:25] devknoll commented on #727
Thanks for your question! We want to make sure to keep signal strong in the GitHub issue tracker – to make sure that it remains the best place to track issues that affect the development of Relay.

Questions like yours deserve a purpose-built Q&A forum. Would you like to post this question to Stack Overflow with the tag #relayjs? We'll be happy to answer there. Post a link to your Stack Overflow q

[2016-01-10 19:50] BerndWessels commented on #256
@devknoll steveluscher @josephsavona Will this replace the `babel-relay-plugin` on NPM ?
If so it should still be in sync with the version number of `react-relay` to avoid confusion ?!
But it looks like there is a `1.0.0` published to NPM - but `react-relay` is only `0.6.1`.
Can you please fix this or am I mistaken here?

[2016-01-10 20:21] devknoll commented on #666
@Globegitter Is there a reason why something like the following wouldn't work:

  1. Keep track of all of the `RelayMutationTransaction`'s you generate
  2. After `onSuccess` of your actual mutation, call `rollback` on the list

This assumes that your actual mutation's fat query includes the changed fields.

FWIW in a past project of mine with a similar UI, I decided to send off incremental update

[2016-01-10 20:28] devknoll commented on #700
@RavenHursT This is technically true, but I'm curious: why are you managing the `after` cursor yourself? Relay will automatically add the argument and its value when you change the `first` variable.

[2016-01-10 20:40] devknoll commented on #651
@vslinko Do you mean that you don't want to pass the userId as an input argument (in the GraphQL sense) or as an argument to the mutation?

The only requirement is having the ID in the mutation. If you can pass it as a __mutation prop__, you can reference it with e.g. `this.props.user_id` __without__ including it in `getVariables()` and passing it as an input argument.

[2016-01-10 20:42] devknoll commented on #674
This seems pretty reasonable. You should open a PR :smile:

[2016-01-10 20:45] vslinko commented on #651
Hmm. It makes sense. Thank you! :smile:

[2016-01-10 20:45] #651 closed

[2016-01-10 20:50] devknoll commented on #586
@oguzbilgic Neat idea. Would you mind opening a PR?

You could work around this today by passing in an array to your mutations constructor and mapping each file to a unique key in `getFiles`, but it seems useful to be able to take advantage of the built-in support for arrays in the browser and web servers.

[2016-01-10 23:44] taion commented on #674
I wanted someone to tell me if it seemed reasonable :p

Given https://github.com/facebook/react/issues/2517#issuecomment-169838716, it looks like this will at most just be a temporary workaround – but it might be useful for some months.

[2016-01-11 02:54] mailaneel commented on #724
Thanks for your help.

The problem for us is we display all races(times) for that day, I am using arbitrary param ```_``` on every endpoint to solve this for now.

I will also try and see if creating custom batch network layer works for us.

[2016-01-11 03:34] ryancole opened #734 "Why required getVariables on Mutation?"
A mutation doesn't require variables necessarily, but the class wants that function defined. Of course, can easily create the function and return an empty object, but why?

[2016-01-11 07:28] josephsavona commented on #734
In general we've found that explicit APIs lead to more consistent code and fewer unintended program behaviors. In this case, it's best to be explicit that there are no variables for a given mutation, as opposed to accidentally forgetting to specify them or specifying them incorrectly. As a counter example, if `getVariables` were optional then you could accidentally misspell the method name and won

[2016-01-11 07:28] #734 closed

[2016-01-11 15:41] quazzie commented on #549
I have probably the same error, depending on what queries has run before mutations fail with "Fragment 'xxx' cannot be spread here as objects of type 'xxxx' can never be of type 'yyyy'."

I have not yet been able to extract the error into something small.

[2016-01-11 16:21] Aweary commented on #136
Thanks @josephsavona, exciting to see so much progress on this. I'll keep an eye on #558 :+1:

[2016-01-11 18:44] dschafer commented on #112
Just ran into similar issues to @ForbesLindesay on a side project I was working on.

My work-around was to create a self-pointer to my root type on my root type:

[code]

and then all of my routes use the same `RootQuery`:

[code]

Instead of then creating a deeply nested query to pass to my route, I just create a wrapper component:

[code]

This has ended up working reasonably well for me; I end

[2016-01-11 19:55] RavenHursT commented on #700
@devknoll : Server-side rendering.. if I go to `www.mysite.com/widgets?pageNumber=5` then we need a way to initialize what will be rendered when using https://github.com/denvned/isomorphic-relay

[2016-01-11 20:38] emmenko commented on #112
@dschafer thanks for sharing! :+1:

[2016-01-12 06:25] eyston commented on #541
I'm going to try and take a stab at this.  I checked with @skevy and he might start next week so I'll try and communicate anything I do in case it is useful.

I spent this afternoon looking at Relay mutation code.  I have a few questions:

1) Is it desirable to keep a central reference to all subscriptions?  There is the `RelayMutationQueue` which holds all mutations, but from what I can tell this

[2016-01-12 09:40] vslinko opened #735 "Pagination: clarify behavior of first/last calls."
Copy of https://github.com/facebook/graphql/issues/104

I'm trying to implement pagination algorithm for my data and I don't know how to handle cases when `first` and `last` are negative.

What is your opinion about this?

ref: https://facebook.github.io/relay/graphql/connections.htm#sec-Pagination-algorithm

I think that spec should answer that question.

[2016-01-12 23:35] RavenHursT opened #737 "Document that variables for routes are passed into query methods"
So, I spent a couple days attempting to find a way to pass variables through as query argument values in underlying fragments in a `Relay.Route`

A co-worker pointed out to me this comment: https://github.com/facebook/relay/issues/309#issuecomment-167403119

Apparently, `variables` is passed in, along w/ the Component into the method callbacks for defining the `static queries` on a `React.Relay` o

[2016-01-13 01:16] BerndWessels opened #738 "[Improvement] Add a fetched callback to Relay.createContainer"
Hello

It seems that at the moment it is not possible to provide a callback to `Relay.createContainer` which will be called when the initial and all following data is fetched.

In my example I need to know a value of the initially fetched data outside of the `render` function of my wrapped component.

It should be possible to supply a callback to the `Relay.createContainer` function that gets call

[2016-01-13 02:09] BerndWessels opened #739 "[Improvement] Optional parameters on Mutations"
Imagine you want to update a person.
Somewhere in your app you want to update only the email.
Somewhere else you want to update almost all properties.
And somewhere else you only want to update only the language.

At the moment it seems that you have to write a new mutation for each of these instead of having only one mutation like `updatePersonMutation` with optional parameters.

So what I sugges

[2016-01-13 02:48] josephsavona commented on #735
I agree with @leebyron's response in the original issue - `first` and `last` must be positive integers; this should be added to the Relay connection spec and `graphql-relay-js`'s connection helper should throw on invalid first/last values.

Any interest in submitting a PR for this?

[2016-01-13 07:48] vslinko commented on #735
I can submit PR for `graphql-relay-js` and I can try to submit to Relay spec, but I'm not sure about my English.

[2016-01-13 17:12] mattiasewers opened #741 "Reference error while importing react-relay"
I get this message when importing react-relay with webpack

ReferenceError: self is not defined: self is not definedget home

[2016-01-13 18:55] shahankit opened #742 "Relay fetch for recursive data without `id`s returns null"
I have a recursive data structure to be fetched and displayed. I have a graph ql type as follow:

[code]

Now I wanted to incrementally fetch data and hence used to react classes HumanList and HumanItem, where I've used relay to fetch children only when a item is clicked. In my actual code relay gives children a null on very click i.e. on rendering very first set of children. I tried test code on

[2016-01-13 19:00] dphaener commented on #741
I've seen this crop up when trying to include Relay on the server side. You can use this library to help get around that for now: https://github.com/denvned/isomorphic-relay

Another technique is to create your own custom network layer and inject that, which is what I've done.
You can see that implementation here: https://gist.github.com/dphaener/a5c0a6ab87cb2297483f

In essence what's happening i

[2016-01-13 20:42] mattiasewers commented on #741
@dphaener Yes that was the problem and isomorphic-relay solved it for me. Thanks man! Might try your solution as well

[2016-01-14 02:17] BerndWessels opened #743 "Pagination impossible?"
I try to get a connection with pagination working.

![pagination](https://cloud.githubusercontent.com/assets/1776695/12314132/1174bc02-bad3-11e5-8eef-1852a9cae9c8.png)

But it looks like that there is nothing in Relay that supports the basic pagination features like:
* total pages
* current page
* go to specific page

Unfortunately `first after` and `last before` are not good enough to implement p

[2016-01-14 03:05] BerndWessels commented on #735
Hi @josephsavona.

The specs say

Does that mean there is some magic in Relay around `connections` which would prevent from writing a custom connection?

I need to write a `connection` that can return the `current offset` with each page rather than only the `base64` encrypted `cursors`. Besides that I would also want the connection to refresh the `totalCount` with each page (in case it has changed

[2016-01-14 04:10] josephsavona commented on #735
@BerndWessels this issue is about the semenatics of first/last calls and is largely resolved. Since you've already opened another issue about pagination, can you ask this follow-up question on that issue instead?

[2016-01-14 04:14] josephsavona commented on #743
Closing as this is a duplicate of #540 - feel free to ask questions or comment there.

[2016-01-14 04:14] #743 closed

[2016-01-14 04:21] josephsavona commented on #743
Note that @taion has suggested a very simple way to achieve this type of pagination - see his comments and the discussion at https://github.com/facebook/relay/issues/540#issuecomment-155531357

[2016-01-14 07:41] josephsavona commented on #738
Thanks for your question! I have an answer (this is trivial), but as you know we're trying to keep GitHub issues focused on bugs and enhancements. Can you ask on stack overflow and lost a link here? Thanks for your cooperation!

[2016-01-14 07:41] #738 closed

[2016-01-14 18:49] BerndWessels commented on #540
@taion Can you please clarify what the nice stuff is exactly?
Even for windowed pagination I would like new edges to be inserted/removed "magically" after insert/delete mutations.
Is there other "nice stuff" that has to be considered?

[2016-01-14 18:53] xuorig opened #744 "GraphQL Server Cache invalidation"
Let's say we have a posts connection, with `first: 10`. We update that to `20` to fetch 10 more posts.
Great, with relay's store, we'll only fetch 10 more posts without re-fetching the rest, this is awesome.

Now what if one of the 10 "old" posts had changed ? Will we ever see a possibility for a GraphQL server to invalidate Relay's client side cache ?

Just wondering if you guys thought of this a

[2016-01-14 19:00] BerndWessels commented on #738
@josephsavona Thank you, here's the [question](http://stackoverflow.com/questions/34797581/is-there-a-fetched-callback-to-relay-createcontainer).

[2016-01-14 19:15] taion commented on #540
That doesn't really make sense in the context of windowed pagination. Suppose you're on page _n_. If an insert happens, where the new node is not inserted on this page, what should you do? That's why I say it's not particularly well-defined.

[2016-01-14 19:25] BerndWessels commented on #540
@taion Thats true, even though in some of my previous apps the visible window would be updated to reflect inserts and updated correctly. But that might be actually a bit out of scope here since it usually also requires a "real-time" connection or notifications from the back-end.

So what you are saying is: forget about connections and implement a simple windowed pagination as a simple query for a

[2016-01-14 20:25] taion commented on #540
I think if you're doing inserts or deletes, using a connection will still be more like what you want – it's just that there will be additional edge cases to think about in the context of insertions and deletions. You're probably going to just end up re-fetching that entire page on insertions or deletions, which is probably what you want anyway.

[2016-01-14 20:29] BerndWessels commented on #540
Thanks @taion. There is only one last thing I am concerned about - memory. What if a user pages through huge amounts of rows - maybe even in different connections - will the store get bigger and bigger - or is there some kind of garbage collection in the Relay Store as well?

[2016-01-14 20:32] taion commented on #540
You get the same thing no matter what pagination scheme you use.

[2016-01-14 21:03] BerndWessels commented on #540
@taion I thought that Relay Connections might be able to remove unused edges from the Store. But maybe memory concerns is a totally different discussion.

[2016-01-15 00:04] NevilleS opened #745 "Mutation query missing fields that should have been tracked by previous queries"
This is a hard one to describe succinctly, so excuse the length. I think this is a bug, but can't rule out the possibility that we're just doing something wrong here...

We noticed some peculiar behaviour where our mutation queries get formed incorrectly in some circumstances. It seems that if multiple components register fragments for a linked field that is initially returned as `null`, the Relay

[2016-01-15 00:15] kassens commented on #735
Is there a reason not to allow 0? This might be useful for a case where you initially show no comments on an object and after pressing "see more comments" you increase from 0 upwards.

I would think we should update the spec and tests to non-negative. Thoughts?

[2016-01-15 00:19] NevilleS commented on #745
Oops, almost forgot - this is on react-relay `0.6.0`

[2016-01-15 00:28] NevilleS commented on #739
You can totally do this. Just make the `UpdatePersonMutationInput` have optional fields like `email`, `language`, etc. The server will need to then react to which fields are provided. In fact, Relay mutations *require* there to just be a single parameter (`input`), but you define the shape of that param entirely.

[2016-01-15 05:01] BerndWessels commented on #739
@NevilleS Thanks you are right.

[2016-01-15 05:01] #739 closed

[2016-01-15 08:38] vslinko commented on #735
@kassens In current implementation `first: 0` means "give me them all".
I think it isn't good decision and I agree with you that `first: 0` could be helpful in some cases, so I can change my PRs.

@josephsavona what are you think?

[2016-01-15 09:25] josephsavona commented on #735
I trust @kassens ;-)

My first thought was that `first:0` would be the same as `@include(if:false)`, but there might be fields on the connection that you want to fetch other than `edges`. Changing the semantics of first:0 to return zero edges makes sense, but we should verify that this won't impact products before making the change. Perhaps we could start with a warning in the writer if first is z

[2016-01-15 15:05] chrisbolin opened #747 "Docs - Relay's relationship to Flux"
Currently Flux is only mentioned once in the Relay docs (deep in the API reference for [Relay.Store](https://facebook.github.io/relay/docs/api-reference-relay-store.html#commitupdate-static-method)). I was initially very confused about the relationship between the Relay and Flux, and I don't think I'm alone.

I would be more than happy to help with the documentation here - I'd just like to hear wh

[2016-01-15 15:17] NevilleS commented on #745
OK I did some more investigation this morning and I think I've tracked down what's causing this issue for me...

When the first query executes, a `trackedNode` is set up for the `User` that keeps track of the `Birthday` fragment (where we ask for the `year`).

When the second query executes, `diffRelayQuery` traverses the query constructed by the new container including our more extensive fragment

[2016-01-15 18:17] KyleAMathews commented on #735
:+1: to `first: 0` just returning no edges. I'm an avid user of `connectionFields` and had been assuming I'd be able to use `first: 0` when I wanted no edge results.

[2016-01-15 18:36] NevilleS commented on #745
I've written a unit test https://github.com/NevilleS/relay/commit/a39ab59e62c0d466e7138cc90ea022e659f2408c that reproduces what I'm seeing - subsequent queries that request additional data off of a `null` node are not tracked.

I'm happy to submit a PR, too, but I don't know exactly how I might break other things by messing with `diffRelayQuery`... something as trivial as this (https://github.com/

[2016-01-15 20:45] eyston commented on #541
I have an initial implementation of subscriptions and have questions / request of feedback from the Relay team if possible.

1) Relay.Subscription / Relay.Mutation code duplication:

Right now I just duplicated code from Mutation to Subscription.  This is mostly ok as its just a skeleton, but the function `_resolveProps` seems like logic that should be shared / not duplicated.  Do you think this s

[2016-01-16 02:30] eyston commented on #541
sorry for being chatty... but...

here is the commit with the work / comments in it: https://github.com/eyston/relay/commit/4405fa70fa6d5bbe1047357963252594dbcdfc1c

here is a stubbed implementation of a network layer: https://gist.github.com/eyston/ce723b38b1756cb5f81e

there are no tests atm, waiting on feedback on if this is sane or not ;p

thanks again~

[2016-01-16 07:59] andimarek commented on #559
Fyi: Based on my PR (#721) I created a modified version Relay which is not longer dependent on React and provides a generic Container:

https://github.com/andimarek/generic-relay

I think this will be just a temporary project and will be deprecated once this Issue here is resolved. It's clearly marked as experimental and I have put a clear note on the beginning of the README, which links back to h

[2016-01-16 20:02] thebritican commented on #655
@steveluscher Should we open up a new issue for this query building problem? I checked via the debugger and am pretty sure the refetching (in terms of building the fragment pointer object) is now successful.

[2016-01-16 21:47] vladar opened #750 "FatQuery intersection produces invalid query with interface type in payload"
I have a mutation that simply toggles a boolean field on object implementing an interface and returns interface instance in payload. Toggled field is not a part of interface: I use inline fragments to specify concrete type.

The problem is that when Relay constructs mutation query - it includes this field in query as if it was a part of the interface. So server rejects query on validation step.

T

[2016-01-18 13:20] josephsavona commented on #744
Great question! This is exactly the purpose that GraphQL subscriptions are meant to address. Determining when a previously cached datum should be invalidated is a non-trivial problem given that many inputs can affect any one output, so we've opted to pursue event-based subscriptions to balance practicality and liveness. The [blog post](http://graphql.org/blog/subscriptions-in-graphql-and-relay/) g

[2016-01-18 13:38] xuorig commented on #744
Thanks @josephsavona, wasn't sure if subscription were the answer to that problem!

[2016-01-18 13:38] #744 closed

[2016-01-18 16:54] vslinko opened #751 "Relay isn't requesting deep fields from a graphql server after mutatiton"
I have `User` that is implementing `Node` and have `id` field.
I have `Profile` that isn't implementing `Node` but have `id` field.
Also, `User` has `profile` field.

Here is a component decorator that requesting data:

[code]

Here is a mutation that updates data that used by the component.

[code]

Is it possible to use `FIELDS_CHANGE` like this?

[2016-01-19 15:13] NevilleS commented on #751
Are you expecting this mutation to update the `profileByNickname` field?

[2016-01-19 15:53] vslinko commented on #751
Yes

[2016-01-19 15:59] NevilleS commented on #751
The fields in the fat query need to match the fields in the local graph then. Since your `profileByNickname` field takes arguments I'm not 100% sure how to guarantee that, but if definitely will need to match. `profile` and `profileByNickname` won't match.

If you made your `profile` type into a node as well, you could just update the profile and match based off of ID. You'd want to make a `user {

[2016-01-19 16:30] josephsavona commented on #751
The field name `profileByNickname` suggests that the component is querying the `profile` record directly, and not the user. However, the mutation `FIELDS_CHANGE` configuration is rooted at the user, which isn't queried by the component. Because the component queries the profile directly (not through the user), the mutation doesn't find any fields that need updating. If the mutation affects the pro

[2016-01-19 16:56] josephsavona commented on #742
Thanks for your question!

We want to make sure to keep signal strong in the GitHub issue tracker – to make sure that it remains the best place to track issues that affect the development of Relay.

Questions like yours deserve a purpose-built Q&A forum. Would you like to post this question to Stack Overflow with the tag #relayjs? We'll be happy to answer there. Post a link to your Stack Overflow

[2016-01-19 17:03] shahankit commented on #742
I created a stackoverflow for same [here](https://stackoverflow.com/questions/34882707/relay-fetch-for-recursive-data-returns-null). Any insights to issue are greatly welcome or temporary work around for issue if possible.

[2016-01-19 17:06] josephsavona commented on #741
@mattiasewers thanks for reporting this. We're aware of the compatibility issue with Relay in non-web environments - @skevy's pending #713 addresses the issue with `self`. For now, `isomorphic-relay` is a good workaround.

[2016-01-19 17:06] #741 closed

[2016-01-19 17:08] josephsavona commented on #742
Thanks! Let's move discussion to the SO question.

[2016-01-19 20:50] vslinko commented on #751
Thank you for your comments. Solved by adding `profile` to `FIELDS_CHANGE`

[2016-01-19 20:50] #751 closed

[2016-01-19 20:57] josephsavona commented on #751
@vslinko Glad that helped!

[2016-01-19 21:35] yodairish opened #753 "Throw an error(warning) when pass null to relayContainer with other props"
If I send to the relay component null as a fragment and this component also has other props with indexes(like string or array) then it can throw an error if fragment has instanceHash same as index in value one of these props
[code]

it's happened [here](https://github.com/facebook/relay/blob/master/src/container/RelayContainer.js#L586)

[2016-01-20 00:12] fabiosantoscode opened #754 "queryCache module-wide variables leaking memory on the server side"
Using isomorphic-relay to get relay to work on the server, and using a load testing tool to create repeated requests and find a memory leak in an application I'm building, I observed that 2 maps called queryCache were growing unbounded.

These maps are in getRelayQueries.js, and in buildRQL.js, and they grow to thousands of keys over 600 requests to a page I have with no less than 2 containers.

L

[2016-01-20 04:32] kaizhu256 commented on #723
can you lockdown the npm package versions? npm install fails for /examples/todo.

[code]

[2016-01-20 07:42] denvned commented on #754
Hi @fabiosantoscode. Do your testing app recreates containers on each request using `Relay.createContainer(...)`? I can't see any other reason for such `queryCache.size` growth (well, probably except some bug in core-js polyfill for `Map`).

[2016-01-20 08:08] fabiosantoscode commented on #754
Hello! Yes it does. Since the app is wrapped in react-router and
react-router itself needs a history object which changes for every URL,
we've created an isomorphic function that creates the entire thing.

On 07:42, Wed, 20 Jan 2016 Denis Nedelyaev <notifications@github.com> wrote:

[2016-01-20 10:22] quazzie opened #755 "why base64 encode/decode with ascii instead of utf-8"
Is there a reason why you user ascii as encoding and decoding base64 ids ?
I got bitten by this as i had a swedish character in an id and was incorrectly encoded.
Changed ascii to utf-8 in graphql-relay\lib\utils\base64.js and it worked.

[2016-01-20 14:03] jardakotesovec commented on #233
Relay.Store.forceFetch({query}, readyState => { ... });```

Is there way to make it work as `fatQuery`, so I can refetch everything that is being tracked on some particular connection?

Reason why I just don't call forceFetch inside component that has full query is simply because I need to do it somewhere else.

[code]

[2016-01-20 17:59] josephsavona opened #756 "[meta] public API for evicting unreferenced data and tracked queries"
By default, Relay does not evict data from the cache. This can cause two main issues:
- Memory growth: As more data is loaded the amount of memory used by the cache can grow.
- Mutation performance: As more data is loaded, the number of fields that may need to updated by a mutation can also grow.

Both cases can be addressed by evicting data (and tracked queries) that is not required for active vi

[2016-01-20 20:25] NevilleS commented on #756
This makes a ton of sense. I worry a bit that if a user keeps a Relay application open long enough, they're local graph just gets bigger and bigger (and more and more stale), so being able to specify some basic garbage collection / expiration policies would be useful.

[2016-01-21 02:41] taion opened #759 ""Expected record data for prop" warning false positives"
I'm getting false positives from the "Expected record data for prop" check on https://github.com/facebook/relay/blob/v0.6.1/src/container/RelayContainer.js#L577-L599, when I explicitly pass in a `null` for the prop in question.

This happens whenever any of the other props for the component is a sufficiently long string. This happens because `fragmentHash` is a stringified number, and can be used

[2016-01-21 10:27] shahankit commented on #742
@josephsavona This is actually a bug, so can you please reopen the issue.

[2016-01-21 10:49] gwind commented on #166
Sorry, but I think this common issue have not resolved.

How to complete a `/auth/signin` action/mutation ?

This is a test:

[code]

In the server side, I use python graphene define:

[code]

this would send a query string to server:

[code]

if drop 'REQUIRED_CHILDREN' usage, the query string send to server:

[code]

Is there nice method to fetch columns like 'sid, expired' ?

any help would be

[2016-01-21 16:00] josephsavona commented on #166
@gwind The canonical way to fetch fields on a new object such as this - where no fields could have been fetched yet - is to use `REQUIRED_CHILDREN`. It looks like those two fields are getting queried if you use that config - what part isn't working?

[2016-01-21 16:04] josephsavona commented on #742
@shahankit just saw your SO comment - yeah this looks like a bug. I suspect this has to do with the fact that the schema doesn't use the `Node` interface, which means calls to fetch recursive data can't use `node(id: $id)` calls. We'll keep this open to track work on a fix, but as a workaround I would suggest implementing `Node` and see if that helps.

[2016-01-21 16:18] eapache opened #760 "Clarification around cursors and sort order"
We have a graphql server (not written in javascript) serving a paginated list of objects. We're trying to conform to the relay specification, but we've hit a few interesting cases that need clarification.

1. `startCursor` and `endCursor` show up in a few examples but not in any official docs; based on my reading of #372 those fields are basically deprecated and we don't have to implement them?

2

[2016-01-21 21:58] wincent commented on #760
Thanks for your question! I have a couple of answers for you but we want to make sure to keep signal strong in the GitHub issue tracker – to make sure that it remains the best place to track issues that affect the development of Relay.

Questions like yours deserve a purpose-built Q&A forum. Would you like to post this question to Stack Overflow with the tag #relayjs? We'll be happy to answer ther

[2016-01-22 01:42] gwind commented on #166
@josephsavona Thanks :smile:

Yes, no parts doesn't working. But my concerns is:

- `REQUIRED_CHILDREN` is not pointed in the formal document -  [Mutator configuration](https://facebook.github.io/relay/docs/guides-mutations.html#mutator-configuration) and anywhere else.

   Does this config is not suggested? #236

- Is there any method to fetch `addons` field from mutation except `REQUIRED_CHILDRE

[2016-01-22 11:06] slorber commented on #720
@josephsavona any insights on this plzzz :)

[2016-01-22 14:00] eapache commented on #760
OK, thanks; I've just posted three separate questions:

- https://stackoverflow.com/questions/34948295/implementing-startcursor-and-endcursor-in-relay
- https://stackoverflow.com/questions/34948216/how-to-manage-cursors-and-sorting-in-relay
- https://stackoverflow.com/questions/34948420/which-relay-objects-must-implement-node

Looking forward to your answers!

[2016-01-22 14:43] josephsavona commented on #166
Reopening bc we should either document this approach or support an alternative.

[2016-01-22 16:56] wincent commented on #760
Thanks for that. I've posted replies to each of those. Let's carry the discussion on there.

[2016-01-22 16:56] #760 closed

[2016-01-22 18:40] NevilleS commented on #756
In parallel, an API to expire local data that you believe is out of date (but may still be needed for an active view) would be useful to handle mutations where the client cannot know ahead of time which nodes will be affected by the change.

For example, if we have a mutation that deletes a `Group` which has many `Users`, we might need to refetch the `groupsCount` for all the affected users. We ca

[2016-01-22 19:18] NevilleS commented on #745
Any ideas? Like I said I'm happy to dig around a bit and submit a PR as needed, but I'd appreciate a bit of guidance since I'm poking around the codebase a bit blindly.

[2016-01-22 21:11] josephsavona commented on #720
This is a great question. Thanks for asking and apologies for the delay in our responding. You mention a lot of points, but it feels like they can largely summarized into two questions:

- How does Relay manage memory?
- How can cache-eviction and refetching be controlled in Relay?

## Memory Management

Currently, Relay does not evict data from its (in-memory) cache under the default configuratio

[2016-01-22 21:20] josephsavona commented on #747
Thanks for your question! I have an answer for you but we want to make sure to keep signal strong in the GitHub issue tracker – to make sure that it remains the best place to track issues that affect the development of Relay.

Questions like yours deserve a purpose-built Q&A forum. Would you like to post this question to Stack Overflow with the tag #relayjs? We'll be happy to answer there. Post a

[2016-01-23 00:43] chrisbolin commented on #747
Sounds good! https://stackoverflow.com/questions/34958295/whats-relays-relationship-to-flux

[2016-01-23 00:43] #747 closed

[2016-01-23 00:44] chrisbolin commented on #747
Again, if you'd like to incorporate your answer into the Relay docs I'd be happy to do it.

[2016-01-24 02:28] dhenson02 opened #762 "npm support out-of-date"
In relation to #706, trying to `npm install` from the root (or any of the examples of course) fails due to an expected version of `2.x` rather than the current (at this time) `3.5.3`.

While I understand certain things may or may not be set up to use something past the version it was developed under, it would be useful to place a **requirements** section at the top of the README files.

Anyways, g

[2016-01-24 17:01] slorber commented on #720
thanks a lot @josephsavona

So I guess I could simply stop worrying and start coding :) My app is not particularly different from other social apps so it should be ok for my usecase too!

[2016-01-25 06:52] nodkz commented on #170
@davide-ganito did your solution works?

I also want wrap `Connection` to component, which provide infinite scroll with spinner.
Or may be such component exists already?

[2016-01-25 07:48] developersencha commented on #762
In the package.json you may change the npm version to 3.x and you overcome this error.

[2016-01-25 10:45] F21 commented on #206
I just came across this myself while setting up my dev environment to work with relay. While writing my own `baelRelayPlugin.js` isn't too onerous, I think it would be much nicer if I could do the following in my babel config (I am storing my bable config in `package.json`):

[code]

[2016-01-25 11:18] vladar commented on #724
Also faced this. The problem is that it is so unexpected and it is so easy to get this behavor unintentionally and trash the server.

Batching requests will probably help though.

[2016-01-25 16:03] josephsavona commented on #724
@vladar Yeah, it's relatively easy to get into this state, hopefully also reasonably obvious when it happens (lots of network requests by default). Ultimately, though, Relay is just doing what you might otherwise code manually: check each item and fetch any missing information. If you're trying to optimize a specific transition between two views (`a` to `b`), one option is to prefetch `b`'s fragme

[2016-01-25 16:52] brad-decker opened #765 "Relay doesn't include viewer in query after setVariables/forceFetch"
### Problem Description
I have a Relay container defined below that fetches 15 items of a given category and is updated when a user switches categories on the frontend. The intent is to refetch the next set of films when a user switches categories. The initial query sent by the container is correct and returns the films attached to the viewer instance. However subsequent queries are not 'ViewerQue

[2016-01-25 17:32] josephsavona commented on #765
Thanks for asking. This is expected behavior: for objects with an `id`, Relay will always fetch additional information via the `node` root field. In this case, the initial response indicates that the `id` of viewer is "VXNlcjo0MDA=", and Relay therefore fetches additional data for `setVariables` via `node(id: "VXNlcjo0MDA=")`.

Is there data missing after the `setVariables` call resolves, or was t

[2016-01-25 17:34] brad-decker commented on #765
The viewer.films in this case never updates, the values don't change and the query takes twice to three times as long to complete according to react-dev-tools

[2016-01-25 17:38] josephsavona commented on #755
Thanks for raising this. Any interest in submitting a PR to change this at [graphql/graphql-relay-js](https://github.com/graphql/graphql-relay-js)? Looks like the line you're referencing is https://github.com/graphql/graphql-relay-js/blob/master/src/utils/base64.js#L14

[2016-01-25 17:42] josephsavona commented on #765
What variables are you changing? (It might help to paste the code where you call `setVariables`, for example) In the examples you gave both the initial query and `setVariables` query have the same parameters - `films(first:15,category:"Upcoming Auctions")` - so the data would presumably be the same.

[2016-01-25 17:56] josephsavona commented on #755
Let's move this to https://github.com/graphql/graphql-relay-js/issues/62

[2016-01-25 17:56] #755 closed

[2016-01-25 18:01] brad-decker commented on #765
@josephsavona - I'm setting category, but I just discovered that the props are being set but some child component is not receiving the updated props. So all is operating well - i guess my only question then is why do these queries seem to take longer... is it because its using the node query to identify the source instead of the viewer query?

Thanks!

[2016-01-25 18:24] josephsavona commented on #765
There's nothing inherent in a `node` query that would be slower - generally, the `resolve` function simply maps the string type to a GraphQL schema type - see the [todo example](https://github.com/facebook/relay/blob/master/examples/todo/data/schema.js#L51-L69) - you might double check that you don't have complex logic inside that function that could cause the slowdown.

[2016-01-25 21:46] josephsavona commented on #541
@eyston Thanks for working on this! My apologies in the delay in our response, we're all back now after the holidays :-)

#### part 1

Yes. There doesn't strictly have to be, but having a central reference to all subscriptions would allow for disposing of all subscriptions (e.g. with the Relay context was collected) or for de-duping subscriptions.

Yup! That method was intended for handling mutati

[2016-01-25 22:27] BerndWessels commented on #206
Maybe unrelated but to use the `babel-relay-plugin` within the `.babelrc` you can use the [babel-plugin-loader](https://github.com/BerndWessels/babel-relay-plugin-loader) which lets you specify the location of the `schema.json` in your `package.json`.
Cheers
Bernd

[2016-01-25 22:27] eyston commented on #541
Ah, okay, not sure why I assumed this.

In a small / short example app with subscriptions I found that they were almost useful for deciding whether I needed to update (dispose / create new sub) the subscription.  e.g.

[code]

This ended up not being sufficient though as I ended up having other requirements of when to be subscribing / not subscribing so I still had to write specific logic around m

[2016-01-25 22:48] wincent opened #766 "Figure out how to reconcile cursors, mutations and connections with sorting/filtering"
Splitting this one off from https://github.com/facebook/relay/issues/760, and the related question posted on Stack Overflow [here](https://stackoverflow.com/questions/34948216/how-to-manage-cursors-and-sorting-in-relay).

Originally this was a question about whether cursors should embed information about sort-order or filtering, and [elsewhere](https://github.com/graphql/graphql-relay-js/issues/20

[2016-01-25 22:48] wincent commented on #760
I commented on Stack Overflow that we should probably re-open this to figure out a solution for the problem you raised in [your second question](https://stackoverflow.com/questions/34948216/how-to-manage-cursors-and-sorting-in-relay), but on second thought, it will be cleaner if we make a separate issue for it: https://github.com/facebook/relay/issues/766

[2016-01-26 00:35] eapache commented on #766
cc @dylanahsmith

[2016-01-26 19:47] brad-decker commented on #765
Thanks for the help on this, this is resolved (user error)

[2016-01-26 19:47] #765 closed

[2016-01-26 20:12] josephsavona commented on #765
Thanks for the follow up!

[2016-01-27 02:18] BerndWessels opened #768 "NODE_DELETE getOptimisticResponse causes error"
Hi
I have a `NODE_DELETE` mutation that should remove a `post` from the `viewer.posts` connection.

It works fine without `getOptimisticResponse` !

BUT with `getOptimisticResponse` it kind of breaks with a short flashing red screen and the following error:

Warning: Failed propType: Required prop `post` was not specified in `Post`. Check the render method of `Relay(Post)`.

So it seems after the

[2016-01-27 03:13] BerndWessels opened #769 "connection mutation OVER-FETCHING problem"
Hi

When running a NODE_DELETE mutation on a connection, it seems that it causes the connection to request updates for all already cached nodes.

This feels like a bug because it causes massive over-fetching even if the user only deletes a single node.

Is this a bug, am I doing something wrong?

Surely deleting a node should not cause maybe thousands of already fetched notes to be re-fetched?

[H

[2016-01-27 08:20] davide-ganito commented on #170
Yes, with a little adjustment. But in my experience it wasn't so useful.
I'm taking a look to the source, if it seems to work I can post the last version.

[2016-01-27 19:48] BerndWessels opened #770 "How can event subscriptions update connections?"
I am following [this issue here](https://github.com/facebook/relay/issues/541).

But I have a hard time to understand how connections can be updated based on event subscriptions.

Imagine I have a connection showing posts. Currently my connection shows posts between 8am and 10am. Now somebody deletes a post at 9am. I would expect that this post will disappear from my connection.
Obviously similar

[2016-01-27 20:49] steveluscher commented on #655
I just tried to write a second repro for this problem to rule out that there might be something peculiar with the vocab example, and I was still able to reproduce the problem. It seems that when we print the node query to refetch the connection, we fail to wrap it in the appropriate fragment. See [repro](http://facebook.github.io/relay/prototyping/playground.html#source=%2F**%0A%20*%20Copyright%20

[2016-01-27 21:19] josephsavona commented on #770
Under the proposed API a product would likely subscribe to an "event deletion" event, maybe something like:

[code]

With a `NODE_DELETE` subscription configuration. Relay tracks the connections that contain any given node, so the subscription event firing would cause the node to be efficiently removed from the connection, as expected.

This isn't an issue or an enhancement, so I'm going to close

[2016-01-27 21:19] #770 closed

[2016-01-27 21:22] josephsavona commented on #655
Thanks for the repro, I'll look into this more.

[2016-01-27 21:32] BerndWessels commented on #770
Oh, I see @josephsavona.

So there will be a subscription for each connection, since the NODE_DELETE config will act on a node id specific for each connection I guess?

I am keen to see how that feels in reality, especially non-infinite (windowed) connection are still giving me a bit of a headache in relay since I am never sure what the right way is to implement it with all the internal relay mech

[2016-01-27 21:53] wincent commented on #762
Thanks for reporting this, @dhenson02. I think we can actually tackle this as part of #706, which you've already referenced, so I am going to close this one out.

[2016-01-27 21:53] #762 closed

[2016-01-27 22:40] larsonjj commented on #745
I am also having a having a similar fetching data with relay.
Here are the details:

1. Load initial page
 - queries a field `account` on `viewer` via Relay.Container
 - `account` field comes back `null` (correct behavior)
2. Redirect user to new page to fill out form (as they do not have an account)
 - User correctly fills out form and submits
 - account mutation is fired and completes successful

[2016-01-27 22:43] NevilleS commented on #745
Well, calling it a PR is a bit generous, but good to hear.

Like I said, I'm happy to clean up the code a bit and submit a real PR, I just want to make sure my change is doing the right thing.

[2016-01-27 22:44] larsonjj commented on #745
@NevilleS, It definitely fixes the issue I've been having. It would be great if you submitted a PR to see if this gets more attention from the FB team.

[2016-01-27 22:45] josephsavona commented on #745
@NevilleS can you submit a PR with your test and fix?

[2016-01-27 22:48] NevilleS commented on #745
Yup, will do. Is that fix essentially correct though, or am I not considering some important side effect?

[2016-01-27 22:53] NevilleS commented on #745
I'm not confident this is 100% correct, I updated my unit test to highlight this. I'll open a PR and we can discuss there, though.

[2016-01-28 05:35] stevewillard commented on #170
Very curious about your solution, too @davide-ganito I have been trying to hack apart the babel relay plugin to prevent schema validation, but I think it's doing too much with the type information. Mainly, I want to do with @gyzerok put together:
[code]

[2016-01-28 15:53] josephsavona commented on #170
We absolutely agree that there should be a way to define a generic "connection" interface such that you can create a reusable connection container along the lines of @davide-ganito's [comment](https://github.com/facebook/relay/issues/170#issuecomment-135951324).

The main challenge in implementing this is that Relay needs to know the fragment type name in order to properly transform the query. Bec

[2016-01-28 17:19] ramsaylanier opened #775 "Pass in React Component to Relay Variables and get a fragment from it."
I'm querying a parent component that gets a "Layout" field, which contains a React Layout component. When the parent mounts, its goes through its query, gets the layout, and the updated its own Relay Variables to store the Component. It then renders the Component. But, there is currently no way to get a Fragment from the Component, since it technically doesn't exist when the query is first built.

[2016-01-29 00:12] F21 opened #777 "Validating inputs for mutations"
I have been searching for ways to perform field validations for mutations.

For example, let's save we have a form for registering a user:

[code]

When performing the mutation, we need to check on the server that the `username` and `email` have not already been registered and signal that to the client and display the appropriate error messages.

As far as I can see from the graphql spec, the erro

[2016-01-29 00:21] nickretallack commented on #724
Do you really have to do batching outside of Relay here?

I don't see this in the spec now, but I thought there was a way to fetch multiple nodes by id in one request from a Relay-GraphQL server by sending the list of IDs up, like this:

[code]

[2016-01-29 07:20] guigrpa commented on #741
@dphaener If I'm not missing something, the problem with the second approach you mention is that you don't even get the chance to inject your custom network layer. Currently Relay loads its own fetch-dependent `RelayDefaultNetworkLayer` module at the very beginning.

[2016-01-29 08:19] tmitchel2 commented on #26
Is this complete?

[2016-01-29 08:24] mikberg commented on #26
@tmitchel2 waiting for facebook/react-native#5084 and facebook/react-native#4062 it seems

[2016-01-29 08:26] tlvenn commented on #26
Additionally the following need to be fixed in Relay as well: c0e6da5cca5ea71dd739f5200da2e6c0cd4a95b5

[2016-01-29 11:42] tuananhtd commented on #769
I'm having the same issue on both NODE_DELETE and RANGE_ADD. It's strange to me that the todo example still works fine even when it looks no different from my code.

[2016-01-29 17:35] dphaener commented on #741
@guigrpa Relay will use the `RelayDefaultNetworkLayer` if you do not inject one:

`Relay.injectNetworkLayer(new MyCustomNetworkLayer())`

I think I may have left that part out of my gist. :)

Good docs on this here: https://facebook.github.io/relay/docs/guides-network-layer.html#content

[2016-01-30 21:26] tuananhtd commented on #233
Kind of a related question how you guys handle after user logging in orther than full page reloading? Some views need to be added or updated

[2016-01-30 23:30] AJ-1310 opened #780 "Error using babel-relay-plugin"
Hi, I stumbled upon an error while using babel-relay-plugin.

When I require babel-relay-plugin module and export the output with my graphql schema and call it in my webpack list of babel plugins as a path works.

[code]

[code]

But when I create the plugin in the same file as this:

[code]

It throws this error stack:
[code]

Any pointers as to how fix this inside the same file would be awesome.

[2016-01-30 23:44] josephsavona commented on #233
@tuananhtd that's a great question for [Stack Overflow](http://stackoverflow.com/questions/ask?tags=relayjs) :-)

[2016-01-30 23:52] josephsavona commented on #780
@AJ-1310 This appears to be configuration related - the error `Cannot read property '__esModule' of null` is not specific to Relay or `babel-relay-plugin`, and suggests it might be due to how you have babel configured. The best way to get assistance is probably to ask on [Stack Overflow](http://stackoverflow.com/questions/ask), since there's a wide audience of developers who can assist.

If this d

[2016-01-30 23:52] #780 closed

[2016-01-31 00:09] AJ-1310 commented on #780
Ok thank you very much for your time.

[2016-01-31 12:05] shahankit commented on #26
@lenaten @skevy Have you tried using decorators with patched react-native, relay. I couldn't use it even after whitelisting es7.decorators in .babel.json.

[2016-01-31 18:22] dhoward commented on #727
Sorry for the slow reply. After messing around with it more, I think the issue lay elsewhere in my dev setup, with React loading multiple versions due to Relay requiring a different version than the one I was initially using.  When I tried running my code on a blank react starter project, it worked fine. I can still post the issue if you want but I don't want to send anyone on a wild goose chase t

[2016-02-01 11:15] sgwilym commented on #26
Here's something to consider given that we're changing some rules just for our tests. From the [ESLint docs](http://eslint.org/docs/user-guide/configuring.html) :

Seems we can have a separate .eslintrc for our tests directory, which sounds like it might be a good idea in the long run — I can easily imagine there being more desirable differentiations between our main rules and our testing rules. I

[2016-02-01 13:57] danielgriese opened #782 "Fragment issue when committing Mutation"
Hi there,

I have just implemented a new feature in our product using Relay and it worked like a charm so far. Thank you for your awesome work and for open sourcing Relay!

Unfortunately I have encountered a tricky issue, that I currently do not know how to circumvent and if it is a bug in relay or if my schema is just programmed in a stupid way. Both options are valid at this point in time... :D

[2016-02-01 14:00] shahankit commented on #26
Got it working by installing `babel-plugin-transform-class-properties`

[2016-02-01 17:51] jaredly opened #783 "Support adding a list of edges via RANGE_ADD"
or have a new RANGE_ADD_MUTLI or something.

[2016-02-02 03:44] leebyron opened #784 "Relay can create invalid queries when fields with arguments overlap"
Please see the issue originally filed by @fson at https://github.com/graphql/graphql-js/issues/263 where Relay could generate an invalid query:

[code]

[2016-02-02 13:00] Kureev opened #785 "Consider using different prop nams in RootContainer"
Hi there,

I'm pretty new to Relay, so correct me if I'm wrong, but it seems that `Relay.RootContainer` doesn't actually support vanilla `Components`, but a `Relay.Containers` instead.

Also, `route` is a pretty confusing name, does it make any sense to change it to something more suitable like `query`?

So, the idea is to use change a public interface to something like this:
[code]

Does it makes

[2016-02-02 13:25] Kureev commented on #114
I think the simplest solution would be to use something like a Flux pattern for handling a client-side specific data. My initial idea was also about making a composition of the network layers. Very curious about how this issue will evolve.

[2016-02-02 23:52] wincent opened #787 "Publish meeting notes from Relay Team sync 2/2/2016"

[2016-02-03 00:35] ryancole commented on #784
I've actually been encountering this issue over the past few days. In my particular case, a relay mutation's payload query seems to be where I'm seeing an invalid query format, resulting in the `"Fields \"_scrimInvitesBKmb7\" conflict because they have differing arguments."` error.

In my particular case, it only happens some times and not others. It also only seems to happen when I'm using `this.

[2016-02-03 01:01] wincent opened #788 "Update roadmap for H1 2016"
Update https://github.com/facebook/relay/wiki/Roadmap based on 2/2/2016 meeting.

[2016-02-03 01:05] wincent commented on #787
Done:

- https://github.com/facebook/relay/wiki/2016-02-02-Relay-Team-Sync-Notes

And linked to from:

- https://github.com/facebook/relay/wiki/Meeting-notes

[2016-02-03 01:05] #787 closed

[2016-02-03 01:39] KyleAMathews commented on #114
Something else this would enable is being able to query public GraphQL servers from within your app e.g. those @ https://www.graphqlhub.com/

You could have, for example, a sidebar with the latest 10 HN posts.

[2016-02-03 01:54] wincent commented on #788
Done.

[2016-02-03 01:54] #788 closed

[2016-02-03 02:09] josephsavona commented on #114
@KyleAMathews Do you mean query multiple public GraphQL servers? You could query a public server today by configuring a network layer.

[2016-02-03 02:11] josephsavona commented on #788
@wincent there are ongoing community efforts to build subscriptions (#411), contextual state (#558), support server rendering, etc. What do you think about including these in the roadmap?

[2016-02-03 02:15] josephsavona commented on #784
@ryancole thanks for the extra info, this is super helpful for debugging!

[2016-02-03 02:40] wincent commented on #788
I think we can link to these but it will be most useful to draw a clean
line between what is prioritized internally and what's happening
externally. (Note the old roadmap is still at the bottom of the page and
does link to or mention these issues.)

[typed in my phone; apologies in advance for the errors.]
On Tue, Feb 2, 2016 at 6:11 PM Joseph Savona <notifications@github.com>
wrote:

[2016-02-03 03:24] josephsavona commented on #788
That makes sense. Perhaps we can link to a list of issues that have open PRs to provide a sense of what is being worked on by the community.

Also, what about using gists for the weekly meetings so that people can ask questions in the comments?

[2016-02-03 04:26] wincent commented on #788
I think the PR tab is the place to go for that; listing them in a wiki page
would be redundant and get out of date fast. If the PR tab isn't
sufficiently fine grained then we should use labels to make it so, but
there's a slippery slope there, making the judgment call about which PRs
should be highlighted.

re: gists, the commenting is nice but it's not a great interface for it (no
notifications).

[2016-02-03 06:28] KyleAMathews commented on #114
Wait how would that work?
On Tue, Feb 2, 2016 at 6:09 PM Joseph Savona <notifications@github.com>
wrote:

[2016-02-03 09:20] jardakotesovec opened #789 "`onProgress`-style callback for mutations with files"
This is feature I would like to see in Relay.

It would require adding callback onProgress to `commitUpdate` and `applyUpdate` functions and pass this callback to `RelayMutationRequest` where it could be called from network layer.

Tricky is that `fetch` api does not support progress yet. So I suspect that it will be difficult to add this feature into standard relay network layer if there is no si

[2016-02-03 09:51] GrzegorzKaczan commented on #789
+1 we need that feature native as well.
03.02.2016 10:21 AM "Jarda Kotěšovec" <notifications@github.com> napisał(a):

[2016-02-03 17:50] josephsavona commented on #114
@KyleAMathews configure a network layer and request data? what am i missing?

[2016-02-03 19:26] KyleAMathews commented on #114
In my HN news example, Relay would need to know about *two* schemas, the one I control + the HN one and intelligently split out queries depending on what schema the query is for. So just like we'll be able to split out client-only queries, we'd also (I assume) be able to send queries to 3rd-party public GraphQL servers. AFAIK this isn't possible right now.

[2016-02-03 22:25] wincent commented on #693
Closing this one because you have the PR in flight. Thanks for contributing!

[2016-02-03 22:25] #693 closed

[2016-02-03 23:54] wincent commented on #759
Thanks for highlighting this, @taion. Of those, the string check sounds a bit more cumbersome, but it feels like it's technically the more correct fix. Want to submit a PR?

[2016-02-04 00:00] taion commented on #759
Sure – I just needed confirmation that I wasn't missing something.

[2016-02-04 00:03] wincent commented on #756
Just adding a cross-reference to #538, which is about simplifying the mutations API. An unstated subgoal there is simplifying the underlying implementation too, which in turn means that things like tracked queries are up for discussion as well (the most extreme version of which is abolishing them; I'm not certain that's the right call yet, but I'm exploring it and alternatives to the current imple

[2016-02-04 00:04] taion commented on #759
Oops! Turns out this was fixed by https://github.com/facebook/relay/commit/839eeb36814d44b23aa4a57ea7625fcfa3d95835 on master before I even opened this issue.

I missed that somehow.

[2016-02-04 00:04] #759 closed

[2016-02-04 00:19] wincent commented on #785
This is good feedback @Kureev. Thanks.

We are indeed moving away from the "route" terminology (see for example #456 and #503). If you look at `RelayRenderer`, which is a newer abstraction that `Relay.RootContainer`, you'll see that we've already moved towards using `RelayQueryConfig` shapes (passed in via a `queryConfig` prop) instead of routes, and we are shooting for `Container` rather than `Co

[2016-02-04 00:19] #785 closed

[2016-02-04 00:21] NevilleS commented on #783
How would you see this differing from providing multiple `RANGE_ADD` configs (which is supported)? For example:
[code]

[2016-02-04 00:33] Kureev commented on #785
Thanks for the nice feedback, @wincent!

[2016-02-04 00:48] NevilleS commented on #538
Since you're taking a look at this right now, I'd say one of the things I dislike the most about the current API is that the fat-query is a client-side concern. If you're implementing an `AddCommentMutation` on the client, it's likely that you'll specify a fat query like: `post { comments }`, since that's what the client is up to. However, maybe there's another part of the server graph that is aff

[2016-02-04 01:26] wincent commented on #759
Well spotted. That's what I get for not looking at the code in master.
On Wed, Feb 3, 2016 at 4:04 PM Jimmy Jia <notifications@github.com> wrote:

[2016-02-04 02:37] NevilleS commented on #782
This reminds me of #750. It likely shares the same root cause, probably triggered by the fact that the node that is being updated by the mutation, in your case `claim`, has been used in previous queries as a more generic type (in your case as the `target` in your `ActivityLine` container)...

My hunch is that the `Claim` in this case corresponds to the `target` in your previous query, which was a

[2016-02-04 02:58] filod commented on #549
@josephsavona any news on this ? or can i take any temporary solution to avoid this bug ?

[2016-02-04 04:25] dminkovsky commented on #166
I encountered #745 and started searching for ways to get `REQUIRED_CHILDREN` results into the store (currently they are not added to the store, which makes sense—how would Relay know to add them?). I suspect that #745 leads a fair number of people to `REQUIRED_CHILDREN`, which new nodes being the other use case?

[2016-02-04 04:32] dminkovsky commented on #745
@josephsavona my use case is exactly the same as @larsonjj, except rename `account` to `user` :D

[2016-02-04 05:04] jaredly commented on #783
ah -- I mean "multiple edges" the number of which is not previously known. e.g. the server will return a list of edges that are to be added.

[code]

[2016-02-04 05:07] NevilleS commented on #783
Ah, yes. In that case I agree - Relay mutations aren't particularly good at expressing "large" changes to the graph. Things like cascading deletes are [similarly problematic]...(http://stackoverflow.com/questions/34428093/handling-destruction-of-a-parent-node-via-a-graphql-mutation-in-relay)

[2016-02-04 14:30] eapache commented on #766
For us, specifically, this would lead to enormous cursors; we would end up serializing the entire object into the cursor so that we would be able to use that cursor for any given sort order. I suspect others would have similar problems.

I was thinking that the `cursor` result in the mutation should be parameterized in such a way that the client making the mutation can tell the server "these are t

[2016-02-04 19:50] wincent commented on #783
Thanks for posting, @jaredly. Making common operations easy/simple, and harder operations possible/feasible is one of the goals of our current work on mutations (see #538); the surface area and scope of possible changes is huge however, so I am still gathering up all the issues and feedback trying to make a coherent plan. In the meantime please keep the feedback and ideas coming.

[2016-02-04 21:15] KyleAMathews commented on #690
:+1: this would of saved me some debugging time this morning :)

[2016-02-04 21:52] wincent opened #790 "Remove deprecated `Component` prop to `RelayRenderer`"
f5dc55da46517d9f3 renames it to `Container` but continues to support `Component` with a deprecation warning. This issue is a reminder to remove the deprecated code once existing internal call sites have been updated. There should be no callers in the open source community yet because `RelayRenderer` is not yet documented.

Eventually `Relay.RootContainer` will go away, leaving only `RelayRenderer`

[2016-02-04 23:35] wincent commented on #753
Thanks for the report @yodairish. I am wondering, is this throwing an error, or just warning? If so, it may be a duplicate of #759, which is mitigated by 839eeb36814d (on `master`, but not in the current 0.6.1 release).

[2016-02-05 16:04] josephsavona commented on #727
@dhoward thanks for following up on this. We have tests to confirm that queries are printed with the expected arguments, and since this worked correctly on a clean setup it definitely sounds like this was a configuration issue.

If you do see the issue again, don't hesitate to comment here so we can reopen and investigate further. Thanks!

[2016-02-05 16:04] #727 closed

[2016-02-05 16:08] josephsavona commented on #725
@trbngr Can you provide a bit more information to help us debug this? In particular, what are the queries for the initial route and the sessions route that doesn't work?

[2016-02-05 16:28] dminkovsky commented on #112
The ability for to have nesting for root queries per @ForbesLindesay's [comment](https://github.com/facebook/relay/issues/112#issuecomment-166937271) would be great. Would make composition and refactoring easier.

Really? Doesn't there have to be at most one leaf in a root query? Otherwise, how would Relay know at which leaf to anchor fragments?

[2016-02-05 17:31] josephsavona commented on #112
Yes, but Relay could do a recursive search for fragment references (throwing if there is not exactly one of them).

[2016-02-05 19:34] BobertForever commented on #26
So from the last few messages in this thread it sounds like it's not exactly working out of the box quite yet. Would it be possible to get this reopened to track when it is finished, if that's the case?

[2016-02-05 22:48] josephsavona commented on #784
There are two basic approaches here:
- Flatten the query prior to printing it.
- Print duplicated fields, but in a way that passes validation.

Flattening the query requires a full extra traversal (O(n) operation), so this isn't tenable from a performance perspective. The simpler solution would be to avoid creating new variables when the values are actually the same. This could be achieved by keep

[2016-02-05 23:16] ryancole commented on #784
I'll take a look right now. Ideally I could first come up with some test case that reproduces the issue, so I may focus on that first before focusing on the proposed fix.

[2016-02-06 00:20] #717 closed

[2016-02-06 01:05] steveluscher commented on #717
If you'd like to give `master` a shot, I think it should fix your problem @shahankit!

[2016-02-06 01:37] josephsavona commented on #784
@ryancole Great, thanks! For a test case, take a look at the [test schema](https://github.com/facebook/relay/blob/master/scripts/jest/testschema.graphql) for fields to use in constructing a repro case - something like

[code]

*should* probably be sufficient (or pretty close).

[2016-02-06 02:05] ryancole commented on #784
off topic question, but is there a build step to these test files, or something? fresh out of master, if i run the tests they work fine. if add a new test case, it fails with a run time error of ...

[code]

[2016-02-06 03:08] josephsavona commented on #784
if you manually run jest, be sure to prefix the command with `NODE_ENV=test ./node_modules/.bin/jest ...`

[2016-02-06 04:19] ryancole opened #796 "Tests don't work on Windows?"
I'm trying to run the Relay tests, on Windows. I have to use jest directly, because the npm script uses bash script. I'm running the tests as follows ...

[code]

All tests fails due to failed imports, such as ...

[code]

Any ideas? Flow doesn't seem to work either, for what it's worth, but that's for a different issue!

[2016-02-06 04:25] ryancole commented on #796
I should mention that I'm using node 4.x and npm 2.x, as required by package.json, as well.

[2016-02-06 14:16] shahankit commented on #717
Ok I'll try it later, because I'm using it with Relay patched for React-Native.

[2016-02-06 19:04] josephsavona commented on #775
Thanks for your patience. Note that the `variables` passed to fragment functions are opaque descriptors of the variables. In: `viewer: ({Component, showPosts, limit}) => Relay.QL...`, the `Component` isn't the actual component value.

An alternative approach here might be a container constructor:

[code]

[2016-02-06 19:13] ramsaylanier commented on #775
Yeah that's actually the route I went after realizing my initial approach wasn't possible. Thanks!

[2016-02-06 19:31] josephsavona commented on #775
@ramsaylanier great, glad you got it working!

[2016-02-07 02:48] ryancole commented on #796
Strange. I tried on a different PC today - exact same OS, specs, etc - and the tests work. They still don't work on the other PC, though. No clue. *shrug*

[2016-02-07 04:08] ryancole commented on #784
@josephsavona I managed to get the tests running. Not sure why they won't run on my other PC. I have a feeling it has something to do with me downgrading to node 4 / npm 2. Something might be cached in the npm 3 format, or something, idk.

Anyways, there's my first stab at the second approach you mentioned yesterday. There already exists a map of created variables, so I'm just checking that and re

[2016-02-07 07:04] #796 closed

[2016-02-07 10:32] bfwg commented on #521
@steveluscher Hi, I run into the same problem out of nowhere, can you tell me the answer to jwaldrip's problem?
Thanks

[2016-02-07 22:51] josephsavona commented on #784
@ryancole thanks again for working on this, let's keep discussion of the implementation on the PR.

This is a very localized change, and the file has good test coverage. If you're curious to learn more about the implementation and ramifications of a change, I'd encourage you to experiment with changing things in the file and seeing which tests break and why :-)

[2016-02-07 22:51] josephsavona commented on #796
Thanks for following up on this!

[2016-02-08 03:57] ramsaylanier commented on #775
@josephsavona sorry I realized that there is another issue.

I'm calling the `createWordpressPage` function to create the component using react router. This is what the routes look like:

[code]

This works, but I think its creating a new component everytime I switch between :page routes —For example, when I got to '/articles' and then to '/about'. When I switch back I get:

[code]

[2016-02-08 09:56] raymondsze opened #804 "Update the scripts in package.json under examples"
in the script section
babel-node ./server.js

with babel 6.0, we cannot build the example successfully, but the command will use the babel-node installed globally.
should change to
node node_modules/babel/bin/babel-node ./server.js ?
or
upgrade to babel 6.0?

[2016-02-08 10:28] raymondsze opened #805 "_graphql.Source is not a function"
I follow the instruction and tried relay-treasurehunt.
The build is ok, but when I point my browser to localhost:3000
I got 3 network errors.
POST http://localhost:3000/graphql 500 (Internal Server Error)
The response is
{
  "errors": [
    {
      "message": "_graphql.Source is not a function"
    }
  ]
}

[2016-02-08 15:58] tuukka opened #806 "Node de-duplication for network layer?"
Would it make sense to implement node de-duplication via a new serialisation format between GraphQL servers and Relay? There's an open issue on GraphQL's side, but perhaps the spec is fine as it already allows results other than plain JSON: https://github.com/facebook/graphql/issues/130 vs http://facebook.github.io/graphql/#sec-Serialization-Format

Any musings on the design space?

1. HTTP reques

[2016-02-08 19:03] josephsavona commented on #806
This is something we've explored and may implement going forward. The performance benefits - especially in terms of network bytes - are not necessarily what you'd expect, however. @wincent did some analysis here and can probably share more.

[2016-02-08 19:24] #790 closed

[2016-02-08 19:47] wincent commented on #806
I did a some experimentation on this for a hackathon and wrote up the results in a fair amount of detail [here](https://github.com/wincent/relay/tree/hack/contrib/lightweight-results).

The (possibly counterintuitive) result is that no combination or normalization, binary encoding, and compression beats naive, fully-expanded JSON compressed with GZIP. GZIP is _really_ good at eliminating redundanc

[2016-02-08 19:47] #806 closed

[2016-02-08 22:13] wincent commented on #753
Going to optimistically close this one for now. If this turns out to be in error, please comment and I'll re-open.

[2016-02-08 22:13] #753 closed

[2016-02-08 22:20] wincent commented on #550
Unless I'm mistaken, I believe all related work for this issue is now complete, so I'm going to close this. If that turns out to be wrong, please comment and I'll re-open.

[2016-02-08 22:20] #550 closed

[2016-02-08 22:22] wincent commented on #538
I'm going to fold some other issues into this one as a checklist. This will be make things more manageable, seeing as these all end up being interrelated:

- [ ] Add an `onProgress`-type callback for mutations with files (was #789)
- [ ] Support adding multiple edges to a range in one operation (was #783)
- [ ] Handle plural file uploads (was #586)
- [ ] Make `RANGE_ADD` easier to use by solving f

[2016-02-08 22:24] wincent commented on #789
Thanks for filing this issue @jardakotesovec!

This is important, so I'm going to fold it into #538, which is about overhauling the mutations API. (It will be easier to manage with the various interrelated mutations issues in a single place.)

[2016-02-08 22:24] #789 closed

[2016-02-08 22:24] wincent commented on #783
This is important, so I'm going to fold it into #538, which is about overhauling the mutations API. (It will be easier to manage with the various interrelated mutations issues in a single place.)

[2016-02-08 22:24] #783 closed

[2016-02-08 22:25] wincent commented on #586
Thanks for filing this issue @oguzbilgic!

This is important, so I'm going to fold it into #538, which is about overhauling the mutations API. (It will be easier to manage with the various interrelated mutations issues in a single place.)

[2016-02-08 22:25] #586 closed

[2016-02-08 22:25] wincent commented on #542
I'm going to fold it into a checklist in #538, which is about overhauling the mutations API. (It will be easier to manage with the various interrelated mutations issues in a single place.)

[2016-02-08 22:25] #542 closed

[2016-02-08 22:26] wincent commented on #581
I'm going to fold this into a checklist in #538, which is about overhauling the mutations API. (It will be easier to manage with the various interrelated mutations issues in a single place.)

[2016-02-08 22:26] #581 closed

[2016-02-08 22:30] wincent commented on #769
Is the issue because you have `viewer { posts }` in your fat query?

[2016-02-08 22:35] wincent commented on #766
Yes it does.

This is important, so I'm going to fold it into #538, which is about overhauling the mutations API and so has substantial overlap. (It will be easier to manage with the various interrelated mutations issues in a single place.)

[2016-02-08 22:35] #766 closed

[2016-02-08 22:42] wincent commented on #711
Thanks for filing this issue @clayallsopp!

There is some reasoning behind this: mostly, consistency with the "variables" terminology used in the `RelayDefaultNetworkLayer` for other kinds of queries (and you can think of mutations are just special kinds of queries). Nevertheless, there is definitely scope for improving the names here.

This is important, so I'm going to fold it into #538, which i

[2016-02-08 22:42] #711 closed

[2016-02-08 22:57] wincent commented on #647
This is important, so I'm going to fold it into #538, which is about overhauling the mutations API. (It will be easier to manage with the various interrelated mutations issues in a single place.)

Thanks once again for filing the report, @jardakotesovec!

[2016-02-08 22:57] #647 closed

[2016-02-08 22:59] wincent commented on #237
I'm going to fold this into #538, which is about overhauling the mutations API. (It will be easier to manage with the various interrelated mutations issues in a single place.)

[2016-02-08 22:59] #237 closed

[2016-02-09 07:11] jardakotesovec commented on #550
@wincent Its possible to delay committing mutation to server, but its not possible to skip mutation that is already in queue yet.

This use case make sense for situations when there is no save button and user is changing input or some slider that could potentially generate many mutation requests and its necessary to skip queued mutations to do that efficiently - basically skip intermediate values.

[2016-02-09 10:05] vladar commented on #553
Yet original issue doesn't seem to be fixed, as I just faced with it on GraphQL 0.4.14

[2016-02-09 15:33] josephsavona commented on #553
Closing as a duplicate of #784, for which there is a pending fix #801.

[2016-02-09 15:33] #553 closed

[2016-02-09 16:41] NevilleS commented on #782
OK, we ran into this issue in our codebase now too, so I was able to do a bit more digging.

So the immediate issue here (invalid mutation queries) appears to be caused by how `intersectRelayQuery` simply includes all tracked fields for a node without paying any attention to the *type* of the node in the mutation payload. That means if you had a query like:
[code]

And a mutation like this:
[code]

[2016-02-09 16:47] NevilleS commented on #782
Amusingly, I found a rather obnoxious workaround: just wrap the problematic container fragments in a generic inline fragment so that the tracked query is valid :laughing:

i.e. change this:
[code]

...to this:
[code]

Since `intersectRelayQuery` basically just copies over the tracked fields, this becomes a mutation query like this:
[code]

Since the invalid fragment expansion (`User` within `Blog`

[2016-02-09 16:57] enaqx opened #809 "hasOptimisticUpdate() Invariant Violation with graphql-js 0.4.17"
I've same error described in #805. After manually update relay-treasurehunt package.json graphql to 0.4.17 it allows to query without error through GraphiQL. Despite that it still not working as app.

![Invaraiant Violation](https://monosnap.com/file/qJRaKP9YcYlnI2fw7lupGYGkOyff3E.png)

It produce invariant violation. getDataID requires object with `__dataID__` but receive id as you can see.

http

[2016-02-09 17:16] #745 closed

[2016-02-09 18:22] BerndWessels commented on #769
@wincent Possibly. Here it is:

[code]

But how else would you do it? What is the right way to insert to and delete from a connection without mass updates of the relay cache?

[2016-02-09 18:45] #784 closed

[2016-02-09 21:31] josephsavona commented on #782
@NevilleS Thanks for debugging this - it's super helpful to have a repro. Since we know the type of each field/fragment, `intersectRelayQuery` should be able to filter out tracked fragments of a mismatched type. In your example, given a concrete parent field `blog` of type `Blog`, intersection can skip concrete fragments (`!fragment.isAbstract()`) of any other type. If either the parent or child i

[2016-02-09 23:26] NevilleS commented on #782
Yup, I'd be happy to write a fix :+1:. You're saying `intersectRelayQuery` would be the place for this?

OK, so you're saying the Relay AST gives us a way to know definitely that a given fragment is abstract (e.g. `Node`) vs. concrete (e.g. `Blog`). That would be a relatively coarse filter though, because it's still entirely possible for the payload to be an abstract type, but not be compatible wi

[2016-02-09 23:52] billyjanitsch opened #812 "babel-relay-plugin broken in babel 6.5"
I'm not sure whether this is a bug on Babel or babel-relay-plugin's end, but the plugin fails to transpile `Relay.QL` occurrences in the latest Babel version.

You can reproduce this by cloning the relay-starter-kit and [bumping the Babel deps](https://github.com/relayjs/relay-starter-kit/blob/master/package.json#L12) to 6.5.

[2016-02-10 00:51] NevilleS commented on #782
In other words, I think we basically need to do exactly what GraphQL does, which is compare if the types overlap: see https://github.com/graphql/graphql-js/blob/master/src/utilities/typeComparators.js#L105 for an example of this.

The babel relay plugin does validation like this during transformation, but I get the feeling that a lot of that type information is discarded, or at least not immediate

[2016-02-10 00:59] NevilleS commented on #782
One approach would be to modify the babel relay plugin to dump the "possible types" (available via GraphQL) into the metadata that actually gets stored by Relay, which would give us the information needed to perform the type intersection...

[2016-02-10 02:11] steveluscher commented on #812
This should be fixed by virtue of this trickery: https://github.com/relayjs/relay-starter-kit/commit/f3025cee82eacc0fbfb66cec075b3691663d0b9f#diff-e56633f72ecc521128b3db6586074d2cR2

Give it a shot, and re-open this issue if you're still having trouble!

[2016-02-10 02:11] #812 closed

[2016-02-10 02:11] steveluscher commented on #805
Merging into #804.

[2016-02-10 02:11] #805 closed

[2016-02-10 02:12] steveluscher commented on #809
Merging into #804.

[2016-02-10 02:12] #809 closed

[2016-02-10 02:12] steveluscher commented on #804
Should be fixed when #811 and #813 land.

[2016-02-10 02:13] josephsavona commented on #782
The list of possible types for a field/fragment could be quite large, so we'd prefer to avoid any solution that would require having that list on the client (e.g. as part of query metadata). Let me look into this a bit more and report back here.

[2016-02-10 02:17] NevilleS commented on #782
Yeah, agreed... There are much more efficient ways to store the type
information required that don't involve decorating every fragment with
their possible types. Some kind of lookup...

On Tue, Feb 9, 2016, 9:13 PM Joseph Savona <notifications@github.com> wrote:

[2016-02-10 02:31] josephsavona commented on #782
Lookups still require the type information to be on the client :-/

[2016-02-10 02:55] billyjanitsch commented on #812
Unfortunately the `passPerPreset` option is still experimental -- it happens to work in this case because relay-starter-kit doesn't use the spread operator, but if you add a spread, there's currently no way to order the four presets to avoid getting `Unexpected token ...` :(

Btw, non-contributors can't re-open issues.

[2016-02-10 03:16] josephsavona commented on #782
A generalized version of the problem is as follows. Data is loaded via some fragment:

[code]

Note that a given attachment record could also be loaded in other places in the app, perhaps in a list of documents:

[code]

This means that it's possible to have a tracked `fragment on Other` for some attachment, such that it could generate the following mutation query, where a `FIELDS_CHANGE` config s

[2016-02-10 03:16] josephsavona commented on #750
Let's merge this with #782

[2016-02-10 03:16] #750 closed

[2016-02-10 03:34] NevilleS commented on #782
Well, one thing to remember is that it's perfectly valid (by GraphQL standards) to add that "indirection" layer that I mentioned in an earlier comment. So you could, technically, just always wrap the overall mutation query in a `... on Node` fragment and it would probably be valid GraphQL...

For example, this fails:
[code]

...but if we did this, it'd be valid:
[code]

This "solution" seems very

[2016-02-10 04:44] NevilleS commented on #538
Hey @wincent, if I wanted to run some more mutation-related ideas/questions past you, how would you prefer to see it? Just comment here? For example, I'm curious to hear what the Relay team's thoughts are about scenarios where the client *can't* know in advance which nodes might be affected by a mutation...

[2016-02-10 06:18] wincent commented on #538
@NevilleS: I'm fine with you creating separate issues, as they provide us with a space to explore each topic. But just bear in mind that they might ultimately get closed and folded into the checklist above if it they end up being something that we can tackle as part of the mutations overhaul.

[2016-02-10 07:01] josephsavona commented on #782
Yeah the indirection via the anonymous Node fragment also works and is probably the least intrusive solution. If we also filter non-matching concrete types during tracked query intersection, this should eliminate most of the non-matching fragments in practice and those that aren't will be ignored.

[2016-02-10 09:09] danielgriese commented on #782
Wow, thank you for investigating this so quickly!

I can confirm that wapping the query in the abstract type, even though it seems unnecessary, does solve the issue.

I did not change the mutation, I instead changed the Query when showing the activity list, as this one contained the different fragments.
[code]

I had to use target { ... on Resource } instead of Node, as "name" wouldn't be known.
B

[2016-02-10 15:12] ooflorent opened #814 "Empty connection when using an argument named status"
I am facing a really strange issue with connections. I have an object named `Blog` with a connection field named `posts` described as below:

[code]

I've configured a container to fetch all posts from a specified blog:

[code]

Relay generates the following query:

[code]

And variables:

[code]

Playing the above query in GraphiQL returns the expected `Blog` and its posts. However when Relay run

[2016-02-10 16:22] josephsavona commented on #782
@danielgriese Thinking purely from the perspective of the mutation query, it is unnecessary casting. The difficulty is that the `Claim` was also fetched in other contexts (as a `Resource`), so there are valid fragments on the claim (`... on Medium`) that are not valid `Claim`s. We can change Relay to automatically output the extra fragment casts to avoid the need for it in components, but this is

[2016-02-10 16:23] josephsavona commented on #782
It looks like the fix here is to wrap all mutation fragments in `... on Node { ... on FieldType { ${originalFragment} } }` - @NevilleS still interested in that PR? :-)

[2016-02-10 16:27] josephsavona commented on #814
cc @wincent - who might have already changed internals to avoid this.

[2016-02-10 16:28] NevilleS commented on #782
Yeah, I can do it... it's so gross though! LOL

[2016-02-10 16:30] NevilleS commented on #782
Are we sure the `... on Node` is always valid? Intrinsically I believe that to be true, since fragment tracking only happens on nodes, but...

[2016-02-10 16:35] josephsavona commented on #782
`... on Node` may not always be valid; we may have to add a boolean metadata flag indicating whether a field's type implements `Node`. I'd have to double-check `writeRelayUpdatePayload` to find any edge-cases that support mutation fields without `id`s.

[2016-02-10 17:53] wincent opened #815 "Add latest meeting notes to wiki"

[2016-02-10 18:05] wincent commented on #815
They're now up ([here](https://github.com/facebook/relay/wiki/2016-02-09-Relay-Team-Sync-Notes)).

[2016-02-10 18:05] #815 closed

[2016-02-10 19:48] denvned opened #816 "Unable to pass Relay variables to a Container through another Container"
See a [demo](https://facebook.github.io/relay/prototyping/playground.html#source=class%20ChildComponent%20extends%20React.Component%20%7B%0A%20%20render()%20%7B%0A%20%20%20%20const%20%7Bhello%7D%20%3D%20this.props.greetings%3B%0A%20%20%20%20return%20%3Ch1%3E%7Bhello%7D%3C%2Fh1%3E%3B%0A%20%20%7D%0A%7D%0A%0Aconst%20ChildContainer%20%3D%20Relay.createContainer(ChildComponent%2C%20%7B%0A%20%20initialV

[2016-02-10 19:57] idibidiart commented on #114
@en_JS

seems like you already sorted out what needs to happen...

from the "Future" section of the Relay Roadmap

Support client/local state
API for resolving fields locally: #431.
Support querying & compiling client-only fields by extending the server schema, and a means for writing data for these fields into the cache: #114.

:+1:

[2016-02-10 22:31] josephsavona commented on #816
When parent components override variables in child components using the second param to `getFragment` they must *also* pass the same variables in props. This is required because the same child fragment may be included more than once, and the child container needs a way to distinguish which data to use. This is something we'd like to address and simplify, but the fix is simple: pass `name`:

[here'

[2016-02-10 22:31] #816 closed

[2016-02-10 23:00] ianstormtaylor opened #817 "Ideas: After migrating to Relay for the first time :)"
Hey all, first off let me say thank you for working on this library with the awesome goal of making data on the frontend more declarative. After working with React, it's a breeze, and I was pretty excited to get Relay working for the app I'm working on.

I saw that people on the team mentioned welcoming ideas/feedback in new issues, so I wanted to write up a bunch of painpoints/issues that I ran i

[2016-02-10 23:00] ianstormtaylor opened #818 "Idea: Create a GraphQL Schema Introspector?"
Part of the reason the Babel plugin setup was so complicated was also the need to write a separate script for saving the `schema.json` file yourself. I was confused at first as to how to obtain the schema to introspect it, but then realized that the current Relay example repo only works if you happen to be running the GraphQL server and your frontend from the same service (or have another way of s

[2016-02-10 23:01] ianstormtaylor opened #819 "Idea: Babel plugin should take a schema path from `.babelrc`?"
One of the biggest blockers to me diving into Relay (and even getting a working example once I had started) was installing the babel plugin and getting the schema bit of it hooked up. It was really complicated, confusing, and a big blocker to actually experimenting with Relay itself.

I think it would be a lot easier if the babel plugin would allow being passed a path to the file containing the sc

[2016-02-10 23:02] ianstormtaylor opened #820 "Idea: Remove `viewer` confusion?"
In the docs, I saw the term `viewer` used a lot, and was never really sure of what it was referring to. I assumed it was just a random name for a piece of the data model, but I couldn’t shake the feeling that it was some special constant I wasn’t familiar with. Made worse by things like `relay-todomvc` example using the same `viewer` term, even though it seems to be meaningless there?

If this is

[2016-02-10 23:04] ianstormtaylor opened #821 "Idea: Let loading state be handled by `render`?"
I was a bit confused as to why the `renderLoading` function needed to be separate from the `render` method of the `Component` passed to `RootContainer`. It seemed like something that would be nicer to have handled as a `props.loading = true` case (or even `props.relay.loading` if namespacing is an issue), and have all of the rendering logic for that top-level component be handled in a single place

[2016-02-10 23:09] ianstormtaylor opened #822 "Idea: Remove the `Route` concept?"
One of the things I noticed while trying to understand “Routes” in the first place, was that they seemed very lightweight. So lightweight that I was wondering if they even needed to exist. We might instead be able to just combine their usage with Containers themselves.

For example, the first example in the docs uses a plain object as a Route, at which point it’s hardly anything special, it’s just

[2016-02-10 23:13] ianstormtaylor opened #823 "Idea: Allow static definitions on the actual components?"
One of the most awesome parts of Relay is how it lets all of your components data requirements live right where the component itself is defined. I alluded to this a bit in the “removing routes” idea, but we could go even further along that line of thinking, and define the “relay bits” of logic as static properties on the `Component`s themselves, since they are already part of the component definit

[2016-02-10 23:24] ianstormtaylor opened #824 "Idea: Simplify and encapsulate mutation calls?"
There’s a lot of boilerplate involved to invoke a single mutation with the current API. And each of the containers needs to be aware of the singleton `Relay.Store` in each of their calls. It would be easy to create a bit of convenience on `createContainer` that reduces the boilerplate, and allows for an easy way to remove the `Relay.Store` singleton dependency in the future.

Using the like button

[2016-02-10 23:34] ianstormtaylor opened #825 "Idea: Remove the mutation GraphQL specification requirements?"
One of the things I found annoying while trying to implement mutations is how much opinion Relay inflicts on my GraphQL schema—having to create `Input` and `Payload` definitions for each operation is really verbose, very Relay-specific, and not necessarily that “clean” of an API.

For example, ignoring Relay, it might be nice for a mutation in the GraphQL schema to look like:

[code]

That would b

[2016-02-10 23:46] ianstormtaylor opened #826 "Idea: Move the “configs” to the GraphQL server?"
Another thing that was confusing was that the configuration for the effects of a mutation are all written and stored on the client, when they are tightly coupled to the what the mutation actually affects when run on the server. For something like:

[code]

All of that seems like effect logic that the server is actual the root source of truth for. It seems like the only time that code would change

[2016-02-11 00:29] josephsavona commented on #824
We're gradually transitioning from singletons and globals to fully encapsulated state. As of last week, Relay does pass an instance of `RelayContext` via the React context, and containers use this to access data. As part of this we'll change the mutations API to remove the `RelayStore` singleton, and will likely end up with something like `this.props.relay.commitUpdate(...)` (allowing users to loc

[2016-02-11 00:29] #824 closed

[2016-02-11 00:50] ianstormtaylor commented on #824
Ah awesome, I hadn't found that meta issue yet, doh! Thanks!

[2016-02-11 00:52] josephsavona commented on #823
We've debated this as well, but ultimately decided that these static annotations are properties of the container, not the component. We'd like to ensure that plain React components can continue to be used as-is without Relay, and to allow usage of basic Relay features without modification.

We appreciate the feedback, but ultimately this is enough of a stylistic choice that we're not likely to cha

[2016-02-11 00:52] #823 closed

[2016-02-11 00:55] wincent commented on #826
Thanks for this, @ianstormtaylor. This is great feedback, and I see you've gone and found the related issues (like #538). I'll close this one out so that we don't have too much duplication, but I think your thoughts here are really valuable and I'll add a back-reference here so that we don't lose track of them.

[2016-02-11 00:55] #826 closed

[2016-02-11 01:03] josephsavona commented on #821
Relay was built to simplify the process of loading data for a view hierarchy. To that end, we designed it so that individual containers/components do not have to be concerned with their initial loading state - Relay will ensure that they are not rendered until their data is available. Without this guarantee, *every* component would have to handle the theoretical possibility of being in a "loading"

[2016-02-11 01:03] #821 closed

[2016-02-11 01:08] ianstormtaylor commented on #821
Ah nice, that makes total sense, I hadn't thought that through enough. Makes total sense!

[2016-02-11 01:47] wincent commented on #822
This is great feedback, @ianstormtaylor. We've already taken some steps towards de-emphasizing routes, but there's still more that we can do. When we first designed them they were much closer to what developers typically thing of as "routes", and that's why we named them that way.

For an example of the direction we're headed, take a look at `RelayRenderer` ([here](https://github.com/facebook/rela

[2016-02-11 02:16] wincent commented on #820
You describe well the confusion that all this `viewer` stuff produces, but I don't think we want to give more prominence to it in the docs by explaining it; the most desirable solution is actually just to fix #112, and we have a pretty clear idea of the steps that would need to be taken in order to do so. At that point we should revisit the docs and the sample code to ensure that it makes sense an

[2016-02-11 02:16] #820 closed

[2016-02-11 02:20] wincent commented on #817
Thanks, @ianstormtaylor. This is a very generous contribution of time and effort. Thanks for the feedback and analysis!

Some of these we've closed already to try and group together duplicated or overlapping concepts. I'll close this one too because we're trying to keep the open issues list down to a smaller number of aggregated, actionable issues. As we merge stuff together there will be backrefe

[2016-02-11 02:20] #817 closed

[2016-02-11 02:52] ianstormtaylor commented on #822
Totally get you on the initial naming since they were closer to routes back then.

Side note: if moving to `QueryConfig` from `Route`, I think it would make sense to call them `variables` now instead of `params` to better match GraphQL's naming? (Looks like it's [sometimes referred to as `variables`](https://github.com/facebook/relay/blob/master/src/query-config/RelayQueryConfig.js#L49) and [somet

[2016-02-11 02:53] ianstormtaylor commented on #817
Sounds good, thanks!

[2016-02-11 07:23] ooflorent commented on #814
Here are the version of Relay tools I used:

- babel-relay-plugin@0.6.3
- react-relay@0.6.1
- react-router-relay@0.9.0

[2016-02-11 09:29] denvned commented on #816
Oh, sorry, I forgot I already seen it here: https://github.com/facebook/relay/issues/309#issuecomment-140485321

Probably some more illuminating error message than `TypeError: Cannot read property 'x' of undefined` would be more helpful here.

Also, isn't inclusion of the same fragment in the same place multiple times pretty rare? Maybe it makes sense to at least make the case with single inclusio

[2016-02-11 10:53] AndrewIngram commented on #720
Is there any mileage in a Relay directive on queries themselves indicate how individual fields should be cached?

ie

[code]

This way we get to have the components declaring how up-to-date they want the data to be. If two components are requesting the same parent data, you'd push the directive down the tree to minimise excessive refetching.

[2016-02-11 13:50] ugputu18 commented on #26
Also have a problem with relay and react-native packager. Just trying to add relay package to master-version of react-native and run `packager/packager.sh --resetCache`. And I'm getting an error:

Same problems with the stable version of react-native (0.19.0). Is it going to work?

[2016-02-11 15:46] jeromecovington commented on #309
I'm pretty well on track with how to do this via @josephsavona's example. But while working with similar code, I am getting the following error:
[code]

[2016-02-11 16:41] josephsavona commented on #309
@jeromecovington To reference a variable, just use `$var`:

[code]

[2016-02-11 16:49] josephsavona commented on #720
@AndrewIngram Definitely: we're currently exploring the idea of query-level TTL. Field-level directives have some problems: as I described above:

This applies to container-level TTL as well: your container may be okay if fields A and B are stale, but some other container wants fields B and C on the same object to be fresh, so we refetch B and C and they don't match up with A (i.e. the user sees a

[2016-02-11 16:56] josephsavona commented on #816
@denvned We agree on all counts. One option is to extend GraphQL to allow named fragment references:

[code]

This is great for Relay, but could mean that GraphQL response payloads are inflated, as data that would otherwise be available under the same key is now duplicated under each alias:

[code]

[2016-02-11 16:57] josephsavona commented on #814
@ooflorent If possible, can you try your app on master? As I mentioned it should be fixed there.

[2016-02-11 18:19] jeromecovington commented on #309
@josephsavona  - But here I am trying to set the values of `termSlug` and `taxSlug` to those passed in via the route. Ex.
[code]

[2016-02-11 18:25] jeromecovington commented on #309
Ah! I see that works...I thought I needed to explicitly reference `variables` in the query template string. Thanks!

[2016-02-11 19:07] BerndWessels commented on #26
Following relay closely and using it in my web projects I still see too many moving parts and assume we have to wait until a 1.0 release before its worth the effort integrating it with react-native. That is most likely why there is not much momentum from "official" side to get this working for now.

Maybe its better to help get relay to a decent state before integrating it into react native. Other

[2016-02-11 19:08] boourns commented on #26
either way this issue should be reopened as the bot closed it prematurely /cc @josephsavona

[2016-02-12 06:56] DomKM opened #828 "Using Relay without Babel"
It looks like Relay currently requires Babel to compile `Relay.QL` strings. This is unfortunate because it makes Relay unusable from compile-to-JS languages like ClojureScript (where React is the dominant rendering library) and TypeScript.

I searched for issues about decoupling Relay from Babel but didn't find any. What is the status of this? Is Relay going to be permanently tied to Babel or is t

[2016-02-12 07:42] ooflorent commented on #814
@josephsavona I just did. The bug is still there.

[2016-02-12 10:51] chandu0101 commented on #828
:+1:  . I was also in same situation few months back , for now i am using macros to fire up relay-babel-plugin in my scala.js project. [RelayQL Macro](https://github.com/chandu0101/sri/blob/master/relay/src/main/scala/sri/relay/macros/RelayMacro.scala ).

I'll love to see no babel dependency in future !.. :)

[2016-02-12 15:15] ooflorent commented on #814
@josephsavona I just did and the bug is no longer there. Thanks.

[2016-02-12 15:15] #814 closed

[2016-02-12 15:44] josephsavona commented on #814
@ooflorent great, thanks for confirming :-)

[2016-02-12 16:02] josephsavona commented on #828
Great questions! And thanks, @chandu0101, for following up with your approach.

This gets at why the plugin is necessary in the first place. Relay needs information from the GraphQL schema in order to interpret queries correctly. Examples include knowing the types of all fragments and fields, and being able to distinguish whether `friends(first: 10)` should return a list or connection. In practice

[2016-02-12 16:13] josephsavona commented on #26
Reopening since this was closed accidentally by the bot.

We really appreciate everyone's patience on this issue. At this point most of the work to enable React Native compatibility in open source is now complete. The main outstanding aspect is the babel configuration - #714. We plan to test and document the config settings before announcing official compatibility and closing this issue.

[2016-02-12 16:19] boourns commented on #26
thanks @josephsavona!

[2016-02-12 18:42] pthrasher commented on #26
@BerndWessels Quite the contrary. There's a lot of momentum from the "official" side. As @josephsavona has just said, there's only one issue left. There were a lot of PRs and a lot of back and forth that went into this. It was a substantial effort with lots of work put in both officially, and unofficially.

[2016-02-12 20:37] ishanthukral opened #830 "Cannot successfully run examples"
Trying to run the example projects but running into the issues during `npm install`. Node version `5.5.0`, NPM version `3.3.12` running on El Capitan.

[code]

Tried to install `babel-relay-plugin` directly from NPM, but didn't resolve issue.

Thank you.

[2016-02-12 21:16] ianstormtaylor commented on #825
Realized I forgot to add another fake-looking reason for the `clientMutationId`, to separate individual mutations from each other. But since they'd have to be named if multiple mutations were passed, this shouldn't actually be a need. The `clientMutationId` seems to really be a `clientRequestId`, which is why it would be even more awesome to remove it from the GraphQL schema part of the request.

[2016-02-12 21:29] nicerr commented on #830
Same here... cannot get it to install cleanly on Node v4.2.6 or v4.3.0 either. Also El Capitan.

[2016-02-12 22:01] steveluscher commented on #830
Thanks for the report! We're mid-release, so things will be broken for the next few minutes.

You guys are fast!

[2016-02-12 22:05] steveluscher opened #832 "Make tests pass using Node 5 / NPM 3"
Right now, if you `npm install` using Node >=5 and NPM >=3 you'll run into a bunch of problems.

Most of these are due to the fact that npm installs dependencies in a flat directory structure, which makes the paths in `unmockedModulePathPatterns` (see `package.json`) no longer match.

Another problem is that the paths in our `.flowconfig` files may no longer match.

There are undoubtedly other pro

[2016-02-12 22:31] josephsavona commented on #26
@pthrasher thanks! :-)

[2016-02-12 22:33] steveluscher commented on #26
Thanks for your patience on this, @BerndWessels. I've been working all week to land a few last PRs across the ecosystem that will let us use Relay in React Native projects. I'll keep chipping away at this iceberg along with @skevvy, @davidaurelio, and many others until it's done!

[2016-02-12 23:09] idibidiart commented on #26
No more custom REST layer for mobile a la Backend For Frontend (BFF). "One data model everywhere" is all we need.

[2016-02-12 23:10] idibidiart commented on #26
Waiting with excitment!

[2016-02-13 00:25] #830 closed

[2016-02-13 09:47] Efimster opened #836 "Deffered mutations"
Consider the case:

1. Creating new Cart.  (Cart is Relay component)
2. Adding/removing items to/from cart 500 times. (Item is Relay component. Item is edge node of Cart connection)

I want ALL these changes performed locally on client side and be synchronous with server only on special signal (button click event "SAVE").

Creating item locally and binding to Item component props cause  warning. I

[2016-02-13 09:59] blatch opened #837 "Relay call renderFailure if network requests timeout"
No answer to this on SO (http://stackoverflow.com/questions/35312277/why-doesnt-relay-call-renderfailure-if-network-requests-timeout) so I guess it's a bug:

I've got a `renderLoading` function that shows a spinner. I've also got a `renderFailure` function that contains a button to let a user retry a failed request. Finally, my network layer is configured with timeouts and retry delays:
[code]
If

[2016-02-13 10:18] zth opened #838 "Configure Relay to use GET instead of POST...?"
Hi!

A quick question from a Relay beginner: Would it be possible to configure Relay to use GET instead of POST for its' requests...? How would one go about doing that if it's possible?

Thanks in advance!

[2016-02-13 12:37] jurassix commented on #838
This should be easy for you, and well documented too. [Start reading the documentation on Relay Network Layer](html). [Then have a look at the current _default_ implementation, it simply uses `fetch`](https://github.com/facebook/relay/blob/master/src/network-layer/default/RelayDefaultNetworkLayer.js#L138).

With the above information you should be able to create a custom Network Layer, inject it i

[2016-02-13 16:58] voideanvalue commented on #836
This is actually one of the things `RelayMutationTransaction` was designed for. You can create a mutation with an optimistic update and use `Relay.Store.applyUpdate` to apply it locally, and use the returned `RelayMutationTransaction` instance to later `commit` to server or `rollback` altogether.

[2016-02-13 17:25] josephsavona commented on #838
Thanks for the question! I'm going to close this since there is nothing actionable to do here, but please feel to continue to use this space for discussion.

Also note that for "how-to" questions we recommend asking on [Stack Overflow](http://stackoverflow.com/questions/ask?tags=relayjs), which is a custom built support forum.

[2016-02-13 17:25] #838 closed

[2016-02-13 19:56] jurassix commented on #836
@voideanvalue It looks like `RelayMutationTransaction` does allow you to defer the server request for each item until you actually issue a `commit`, but I don't see a way to batch transactions into a single commit. Without the batching we would still me sending a server request for each commit since [each `RelayMutationTransaction` is bound to a single `ClientMutationId`.](https://github.com/faceb

[2016-02-14 08:16] voideanvalue commented on #836
@jurassix: Yeah, it doesn't support batching. But here's some alternate suggestions:

(i) Perform batching through a custom network layer.
(ii) Track all the uncommitted transactions. Instead of committing them all separately at the end, rollback all of them and then create and commit a new one that represents all of them and commit that.
(iii) Similar to (ii), before applying a mutation, rollback

[2016-02-14 17:22] jurassix commented on #836
@voideanvalue Yeah I was leaning towards _ii_ as a solution as well. Thx for confirming.

I guess I need to build this out as en example to see the complexity involved. It seems that if I'm an _item_ then I will not have context of other _items_, so I would need to move the transaction mgmt to the parent since it would provide visibility to all _children items_. Then from the parent I could map ov

[2016-02-14 19:16] josephsavona commented on #837
Thanks for reporting this, it sounds like a bug possibly in the default network layer.

[2016-02-14 19:24] BerndWessels commented on #26
@pthrasher @steveluscher @josephsavona thanks for all your effort.
Sometimes it is hard to see what is going on behind the scenes just from following the Git Issues.
I believe Relay is the way to go and being able to use it in web and mobile will clean up my code base a lot.
Looking forward to it.

[2016-02-14 20:58] dev-rkoshlyak commented on #818
I was looking for exactly same, since right now it is plain code duplication. You need to define schema in backend and frontend, if you use different languages for it.

[2016-02-15 02:08] raineroviir commented on #832
I'll give this a try

[2016-02-15 02:20] guzart commented on #818
That's a very good idea. The GraphQL introspection query is available in all GraphQL packages as a  global variable.

In the ruby package is available at `GraphQL::Introspection::INTROSPECTION_QUERY`

For the npm package is available at [`require('graphql/utilities').introspectionQuery `](https://github.com/graphql/graphql-js/blob/042e1620bb3a83e07e15586bb5b69b211c91e8de/src/utilities/introspectio

[2016-02-15 02:42] F21 opened #839 "Variable "$id_0" of type "ID" used in position expecting type "ID!" error when refetching."
Relay generates queries like this when fetching:

[code]

The type for ID should be `ID!` rather than `ID`, otherwise we get this error:

[code]

[2016-02-15 03:45] josephsavona commented on #839
Thanks for reporting this. Is this a query that you wrote directly (i.e. in a route), or is this a query that Relay generated (i.e. from a setVariables call)? If the latter, how was the node originally fetched, and what was the type of its `id` field?

[2016-02-15 03:48] josephsavona commented on #818
The difficulty here is that this tool would then have to work with http proxies, firewalls, etc. Rather than build and maintain a module just to make an HTTP request, perhaps GraphQL servers themselves should expose the results of the standard introspection query directly (via a configurable URL?)

Cc @leebyron

[2016-02-15 03:51] raineroviir commented on #832
`npm test` will give the following similar error for 96 tests:
`Error: Failed to get mock metadata: /Users/raineroviir/relay/node_modules/core-js/modules/$.global.js`

Okay so I narrowed down what is broken, the `getType` function in `relay/node_modules/jest-cli/src/lib/moduleMocker.js` has a failsafe return null when it cannot define the type.  In our case when our tests start to mock $.global.js

[2016-02-15 04:07] F21 commented on #839
That query is generated by relay.

This is the original query (generated using routes and fragments by relay):

[code]

I then use `this.props.relay.forceRefetch(...)` to force relay to poll the server for an update, which results in this query being generated:

[code]

[2016-02-15 06:06] steveluscher commented on #832
Related: https://github.com/facebook/jest/issues/554

[2016-02-15 06:40] raineroviir commented on #832
Okay so based on that issue and also related: https://github.com/facebook/react/issues/5183, the issue is with jest and to solve it you unmock all the deps.  Although if I set the package.json to look like:
[code]
We get
18 tests failed, 1149 tests passed (1167 total in 96 test suites, run time 61.989s)

[2016-02-15 11:20] balsamiqstefano commented on #777
+1!
I've been banging my head over this the whole day.

As far as I'm concerned, I don't quite need a full blown validation feature. I would simply like to be able to return a machine-readable error. Internationalization is a good example, but also simply adding extra information so that the UI can react with something more useful than a plain string.

[2016-02-15 12:56] albertstill commented on #839
Had the exact same problem today at my company for Innovation Day. Relay was generating the query when I called `setVariables` to increase the count of a `first` argument in a connection field. The original query that worked fine and was using a custom non-node ID as it's argument `property(id: "XY-12341-GA")` that returned the `Property` type which implements the `Node` interface. The subsequent

[2016-02-15 15:13] rarutu opened #841 "babel relay plugin configuration for es6"
Hi

I am doing a test app that is all es6 ... and i hit a bump when using this plugin ... the docs say to use this to configure the plugin and it works:

[code]

can anyone tell me why this syntax does not work?
[code]

thanks,
rarutu

[2016-02-15 17:44] josephsavona commented on #777
Relay returns the full mutation error from the server as `transaction.getError().source`, so you should be able to implement any custom scheme for `errors` that you like, and access it in the mutation's `onFailure` callback. Does that solve your use case?

[2016-02-15 17:49] josephsavona commented on #841
Thanks for your question! We want to make sure to keep signal strong in the GitHub issue tracker – to make sure that it remains the best place to track issues that affect the development of Relay.

Questions like yours deserve a purpose-built Q&A forum. Would you like to post this question to Stack Overflow with the tag #relayjs? We'll be happy to answer there. Post a link to your Stack Overflow q

[2016-02-15 18:06] josephsavona commented on #839
@F21 @albertstill thanks for the extra information, I see what's going on. This is an inadvertent side-effect of d55b04ebb11a105f7f63eb8a2ce82b782be22d78, which explicitly set all query metadata including the `node` field's argument type. The printer sees this type and prints it as-is - i'll change the type to `ID!`.

[2016-02-15 20:10] balsamiqstefano commented on #777
If I pass `onFailure` to `Relay.Store.commitUpdate` I get passed a `transaction` and so I can access the whole GraphQL return data, true. But the question is: how do I generate (server-side) something more interesting than this?

[code]

[2016-02-15 20:22] KyleAMathews opened #843 "List of connections don't seem to be supported correctly"
I'm working on adding a new field to GraphQL that is a list of connections. It works perfectly when queried from GraphiQL but when I do the same query in Relay I get this error:

Followed by:

Relay seems to be assuming the list is the actual connection and is looking for a `edges` field (which is correctly set on the items in the list).

UPDATE:
So played around some more and if I remove the conn

[2016-02-15 20:37] josephsavona commented on #843
@KyleAMathews Can you paste the relevant portion of the query and schema?

[2016-02-15 21:21] rarutu commented on #841
http://stackoverflow.com/questions/35419322/babel-relay-plugin-es6-configuration

thanks

[2016-02-15 23:59] KyleAMathews commented on #843
query:

[code]

schema:
[code]

[2016-02-16 02:03] josephsavona commented on #843
Which field is the list of connections? That just looks like a normal collection (?).

[2016-02-16 02:07] KyleAMathews commented on #843
`category_cliques`

In graphql-js, I create it with `type: new GraphQLList(require("./connections/clique-connection"))`

[2016-02-16 09:49] dev-rkoshlyak commented on #818
@VolodymyrTkachuk

[2016-02-16 10:17] rarutu commented on #841
can u please confirm the answer on the stackoverflow question ... is the answer from there correct?

[2016-02-16 17:19] josephsavona commented on #841
@rarutu I commented at Stack Overflow, let's move discussion there.

[2016-02-16 17:19] #841 closed

[2016-02-16 18:58] BerndWessels opened #845 "babel-plugin-relay 0.7.0 ?"
Hi guys

I just noticed that you have released the `babel-relay-plugin` `0.7.0`.

But I thought the plan was to move on to the more common babel plugin naming `babel-plugin-relay`. I saw that you guys have already reserved the name but it is still an empty `1.0.0`.

When are you planning to move from `babel-relay-plugin` to `babel-plugin-relay`?

I think it is very confusing having both out there.

[2016-02-16 19:06] wincent commented on #836
Agreed that this is a lot of complexity for the client to manage, and also that we should gain some experience building this type of batching out by hand before trying to abstract it into something baked in in the framework. So I'm going to close this for now and ask that you open a new issue with a concrete proposal or even a pull request at some point in the future if you think it still makes se

[2016-02-16 19:06] #836 closed

[2016-02-16 21:28] josephsavona commented on #845
We reserved the name `babel-relay-plugin` because we will make the transition at some point, but for now `babel-relay-plugin` is the official plugin (as noted in the docs.) I'm going to close this for now since there's nothing actionable and we have separate PRs/issues tracking the rename.

[2016-02-16 21:30] #845 closed

[2016-02-16 22:06] josephsavona commented on #843
Got it, i see it in the schema now.

You're correct that Relay has a heuristic for detecting connections - it's based on the type name (ends in "Connection"), the existence of connection-like fields, and the presence of edges and page info fields. Relay also assumes that connection fields are scalars, so if you need a list of them, you might have to create an intermediate object in the schema:

[c

[2016-02-17 02:05] #839 closed

[2016-02-17 02:21] josephsavona commented on #839
This is fixed and master and will go out in the next release. Thanks everyone for the examples and repro steps!

[2016-02-17 06:01] naomik commented on #723
I have a freshly-installed node `5.6.0`

`npm install` fails

[code]

[2016-02-17 10:41] Efimster opened #847 "Accessing data of sibling component"
Playing with Relay I got problems with accessing data. I was trying to reproduce the issues with official Todo example of the Relay project. Please consider gist in order to change Todo example.
[here](https://gist.github.com/Efimster/886650d04f141e50c08d)

Here are the questions:
1. Why Summary component cant get access to sibling (viewer) component data?
2. What the reason for "queries must have

[2016-02-17 15:26] jeromecovington opened #848 "Non string values making it to isClientID breaking isomorphic relay implementation"
I am working on injecting prepared data via `isomorphic-relay`...see [this issue](https://github.com/denvned/isomorphic-relay/issues/19#issuecomment-183472418) for further details.

However, some properties of the graphql response have a value of `null`, and they seem to be getting passed off to [`isClientID`](https://github.com/facebook/relay/blob/ecf643231ed550f6fff197396a1765f49079e3e5/src/stor

[2016-02-17 16:41] josephsavona commented on #848
Relay treats null records as null and doesn't attempt to traverse into them or create IDs for them. Given that, if you're seeing empty objects passed to isClientID then the problem could be in isomorphic-relay or how your app is configured. Can you share a commit preview or gist of your isomorphic-relay setup? If that's tricky, where is isClientID called with the invalid value? (Stack trace would

[2016-02-17 18:19] jeromecovington commented on #848
I don't think it is how my app is configured, as other graphql responses can be both prepared and injected without difficulty, it is one type of response only (again with _some_ null values) that ends up raising the error from `isClientID`.

Here is a stack trace:
[code]

[2016-02-17 18:59] jeromecovington commented on #848
"Relay treats null records as null and doesn't attempt to traverse into them or create IDs for them."

Does relay also treat `{}` records the same way (not traversing, etc.)? Because somewhere along the way, the `null` records are getting changed to `{}`.

[2016-02-17 20:03] josephsavona commented on #848
Relay treats empty objects as records, and synthesizes a client ID for them if `id` is not set. We haven't heard of this error with regular Relay, hence my suspicion that this has to do with isomorphic-relay's  `injectPreparedData` method.

Can you paste (or link to a gist) with the query text and payload that is failing? Which record fails?

[2016-02-17 20:08] jeromecovington commented on #848
[Here](https://github.com/denvned/isomorphic-relay/issues/19#issuecomment-183472418) is an example of the kind of response from graphql that ends up being correlated to the `TypeError` in `isClientID`, as well as a log of the values coming through as the `dataID` argument.

[2016-02-17 20:27] jeromecovington commented on #848
Perhaps [this](https://gist.github.com/jeromecovington/227f1541a3fd90827134) is more helpful, the query + result that is passed to `injectPreparedData` after having passed through `prepareData`.

[2016-02-17 22:43] kassens commented on #723
You're correct, we're still missing support for node 5/npm 3. #832 tracks to get us updated.

[2016-02-17 22:43] #723 closed

[2016-02-18 00:07] steveluscher commented on #847
Thanks for your question!

We want to make sure to keep signal strong in the GitHub issue tracker – to make sure that it remains the best place to track issues that affect the development of Relay.

Questions like yours deserve a purpose-built Q&A forum. Would you like to post this question to Stack Overflow with the tag #relayjs? We (or another member of the Relay community) will be happy to answ

[2016-02-18 00:07] #847 closed

[2016-02-18 00:17] #638 closed

[2016-02-18 02:20] BerndWessels opened #849 "Loading indicator after this.props.relay.setVariables triggered fetch ?"
Hi

I use `react-router-relay` and within one of my routes I have a dropdown.

Now I select a different value from that dropdown - that will call `this.props.relay.setVariables` which will fetch some data based on this variables. This data will be displayed in a chart component within the current route.

How can I provide a callback or something to know that the current component is fetching data

[2016-02-18 02:28] josephsavona commented on #849
@BerndWessels I have an answer for you, but we're trying to direct how-to questions to Stack Overflow to keep issues focused on bugs and enhancements. Can you post at Stack Overflow and link to your question here?

http://stackoverflow.com/questions/ask?tags=relayjs

[2016-02-18 02:28] #849 closed

[2016-02-18 02:46] BerndWessels commented on #849
Thank you @josephsavona

[Here is the Question](http://stackoverflow.com/questions/35471836/loading-indicator-after-this-props-relay-setvariables-triggered-fetch) on Stack Overflow.

[2016-02-18 04:21] guzart commented on #309
@josephsavona Is there a place to track if the fragment alias will be added to the language? Thank you.

[code]

[2016-02-18 05:22] josephsavona commented on #848
In the second gist there are multiple records that have `id: {}` - which means that either invalid data is being returned by the server - IDs should be strings - or prepareData is somehow transforming it incorrectly. I noticed that in the first paste the results do not have these malformed IDs, which also suggests that it is the transform step. Can you confirm that the IDs are correct prior to the

[2016-02-18 05:27] josephsavona commented on #309
@guzart see https://github.com/facebook/graphql/issues/137

This is something that makes sense for Relay because of the way we do fragment composition with effectively local variables. It isn't so clear if this makes sense for GraphQL clients generally, though, so we may pursue alternatives (for example, a relay directive for providing an alias).

[2016-02-18 05:40] denvned commented on #848
@josephsavona, `prepareData` just intercepts calls to `RelayStoreData#handleQueryPayload` and convert the query to a plain object using `toGraphQL` from Relay:
https://github.com/denvned/isomorphic-relay/blob/ac2ce85d48be592f7d735c1849b762f10b3ad72d/src/prepareData.js#L15-L16

[2016-02-18 05:58] denvned commented on #848
Also `prepareData` does not transform the result. So, invalid data returned by the server seems more probable.

@jeromecovington what is the GraphQL schema for the `photosTout` field of `PromotedContent`?

[2016-02-18 14:24] jeromecovington commented on #848
@denvned - The only customization to our network layer allows for sending the request to graphql via `get` rather than `post` (for caching reasons). Although I did notice this issue prior to that customization.

The schema for `Image

[2016-02-18 14:31] jeromecovington commented on #848
@denvned - The only customization to our network layer allows for sending the request to graphql via `get` rather than `post` (for caching reasons). Although I did notice this issue prior to that customization.

The schema for `Image` is [here](https://gist.github.com/jeromecovington/c459f170a1604f74d6cb).

[2016-02-18 14:47] denvned commented on #848
@jeromecovington Looks like your GraphQL server at least sometimes returns an empty object `{}` as `id` of `Image`, although its type according to your schema should be scalar `ID`.

[2016-02-18 17:01] yo34 commented on #686
I have approximatively the same error.

To reproduce :

    1  apt-get update; apt-get upgrade
    2  apt-get install curl wget git sudo
    3  curl -sL https://deb.nodesource.com/setup_4.x | sudo -E bash -
    5  curl -sL https://deb.nodesource.com/setup_4.x | sudo -E bash -
    6  sudo apt-get install -y nodejs
    7  sudo apt-get install -y build-essential
    8  cd /root/
    9  git clone http

[2016-02-18 17:05] KyleAMathews commented on #843
K, closing this as "works as expected". Thanks!

[2016-02-18 17:05] #843 closed

[2016-02-18 17:07] yo34 opened #850 "todo example does not work"
I have approximatively the same error (I am using a docker debian os :8.3)
#686

The error is at the end of the description.

To reproduce :

1  apt-get update; apt-get upgrade
2  apt-get install curl wget git sudo
3  curl -sL https://deb.nodesource.com/setup_4.x | sudo -E bash -
4  sudo apt-get install -y nodejs
5  sudo apt-get install -y build-essential
6  cd /root/
7  git clone https://github.c